<template>
  <view class="order-info">
    <view class="tab-list-data" v-for="(item,index) in list" :key="index">
      <!--      <view class="tab-list-box" v-for="(items,indexs) in item.wxOrderServicesList" :key="indexs"> -->
      <view class="tab-list-box" v-if="item.id">
        <view class="tab-list-contant">
          <view class="tab-dec">
            <view class="tab-margin"><span>订单编号：</span>{{item.id}}
              <span style="float: right;" @click="details(item)">详情<uni-icons type="right" size="14"
                  color="#ccc"></uni-icons></span>
            </view>
            <view class="tab-dec-box" @click="details(item)" v-for="(items,indexs) in item.wxOrderServicesList"
              :key="indexs">
              <view class="tab-dec-img">
                <image :src="$preview()+items.serviceIconUrl"></image>
              </view>
              <view class="dec-info">
                <view class="title">
                  {{items.serviceName}}
                </view>
                <view class="red">￥{{items.servicePrice}}</view>
              </view>
              <view>数量：{{items.serviceNumber}}</view>
            </view>
            <view class="tab-margin"><span>订单金额：</span><em class="yellow">￥{{item.orderPrice}}</em></view>
            <view class="tab-margin  red">
              上门时间：{{item.doorStartTime}}-{{item.doorEndTime?item.doorEndTime.slice(-8):''}}
            </view>
            <view class="tab-margin"><span>下单时间：</span>{{item.createTime}}</view>
            <view class="tab-margin">
              <em @click="dialPhone(item.mobile)">
                <span>联系方式：</span>{{item.mobile}}
              </em>
              <em><span class="people">联系人：</span>{{item.consignee}}
              </em>
            </view>
            <view class="tab-margin" v-if="item.wxOrderMaster">
              <span>师傅名称：</span>{{item.wxOrderMaster.masterName?item.wxOrderMaster.masterName:''}}</view>
            <view class="tab-margin"><span>服务地址：</span>{{item.address}}</view>
          </view>
        </view>
      </view>
      <view class="tab-list-bottom" :class="item.orderStatus==3?'mb':'tab-list-bottom'">
        <view>
          <button @click="pay(item)" v-if='type==0'>接单</button>
          <!-- @click="editOrderMaster(item)" -->
          <view class="example-body" v-else>
            <uni-datetime-picker v-model="single" @change="changeLog($event,item)">
              <!-- <div class="bnt">{{item.status==0?'上门':item.status==1?'结束':''}}</div> -->
              <div class="bnt" v-if="type==1&&item.orderStatus==1">结束</div>
            </uni-datetime-picker>
          </view>
        </view>
      </view>
    </view>
    <tabbar :current='0'></tabbar>
  </view>
</template>
<script>
  import tabbar from "@/components/tabbar/index.vue";
  export default {
    props: {
      type: {
        type: Number,
        default: 0,
      },
    },
    components: {
      tabbar
    },
    data() {
      return {
        list: [],
        single: '',
      }
    },
    onLoad() {
      if (this.type == 1) {
        this.orderList()
      } else if (this.type == 0) {
        this.payList()
      }
      uni.$on('refreshData1', () => {
        if (this.type == 1) {
          this.orderList()
        } else if (this.type == 0) {
          this.payList()
        }
      })
    },
    mounted() {
      if (this.type == 1) {
        this.orderList()
      } else if (this.type == 0) {
        this.payList()
      }
      uni.$on('refreshData1', () => {
        if (this.type == 1) {
          this.orderList()
        } else {
          this.payList()
        }
      })

    },
    methods: {
      payList() {
        this.$http.api.payList().then(res => {
          this.list = res.data
        })
      },
      orderList() {
        let userInfo = uni.getStorageSync('userInfo')
        this.$http.api.orderList(userInfo.masterId).then(res => {
          this.list = res.data
        })
      },
      pay(item) {
        var masterId = uni.getStorageSync('userInfo').masterId
        this.$http.api.addorderMaster({
          masterId: masterId,
          orderId: item.id,
        }).then(res => {
          if (res) {
            this.payList()
          }
        })
      },
      editOrderMaster(item) {
        var masterId = uni.getStorageSync('userInfo').masterId
        var status
        var doorTime
        var closeTime
        if (item.status == 0) {
          status = 1
          doorTime = this.single
          closeTime = ''
        } else if (item.status == 1) {
          status = 2
          doorTime = ''
          closeTime = this.single
        }
        this.$http.api.editOrderMaster({
          masterId: masterId,
          orderId: item.id,
          doorTime: this.single,
          status: status,
          closeTime: ''
        }).then(res => {
          if (res) {
            this.orderList()
          }
        })
      },
      changeLog(val, item) {
        this.single = val
        this.editOrderMaster(item)
      },
      details(item) {
        uni.navigateTo({
          url: `/pages/order/Orderdetails?id=${item.id}`
        })
      },
      dialPhone(phonenumber) {
        uni.makePhoneCall({
          phoneNumber: phonenumber,
          success() {
            console.log('拨打成功了');
          },
          fail() {
            console.log('拨打失败了');
          }
        })
      }
    }
  }
</script>
<style lang="scss">
  .order-info {
    //margin-bottom: 80rpx;
    margin: 0rpx 15rpx;
    padding-bottom: 100rpx;
    //height: 100vh;

    .tab-list-data {
      background: #fff;
      margin-bottom: 30rpx;
      border-radius: 10rpx;

      .tab-list-box {
        border-bottom: 1rpx solid #f1f1f1;

        .tab-list-contant {
          padding: 25rpx;

          .tab-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tab-title-left {
              font-size: 30rpx;
              font-weight: bold;
            }

            .tab-title-right {
              color: #ccc;
              vertical-align: middle;

              span {
                margin-top: -12rpx;
              }
            }
          }

          .tab-dec {
            margin-top: 20rpx;

            .tab-margin {
              padding: 15rpx 0px;

              span {
                color: #ccc
              }

              em {
                font-style: none;
                color: #333;
                display: inline;
                margin-left: 5rpx;
              }

              i {
                font-style: none;
                color: #ccc;
                display: inline;
                margin: 0rpx 10rpx;
              }
            }
          }
        }
      }

      .tab-list-bottom {
        padding: 25rpx;
        display: flex;
        justify-content: flex-end;

        button {
          background: #8cde9b;
          width: 220rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
        }

        .bnt {
          background: #8cde9b;
          width: 200rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
          text-align: center;
        }
      }

      .mb {
        padding: 0rpx;
      }
    }

    .tab-dec-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .tab-dec-img {
        width: 150rpx;
        height: 150rpx;
        margin-right: 30rpx;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .dec-info {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        view {
          margin-bottom: 10rpx;
        }

        .title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

      }
    }

    .yellow {
      color: #FF9A43 !important;
    }

    .red {
      color: red !important;
    }

    .people {
      margin-left: 27rpx;
    }
  }
</style>