<template>
  <view class="order-info">
    <view class="tab-list-data" v-for="(item,index) in list" :key="index">
      <view class="tab-list-box" v-for="(items,indexs) in item.wxOrderServicesList" :key="indexs">
        <view class="tab-list-contant">
          <view class="tab-dec">
            <view class="tab-margin"><span>订单编号：</span>{{item.id}}
              <span style="float: right;" @click="details(item)">详情<uni-icons type="right" size="14"
                  color="#ccc"></uni-icons></span>
            </view>
            <view class="tab-margin"><span>服务内容：</span>{{items.serviceName}}</view>
            <view class="tab-margin"><span>订单金额：</span>{{item.orderPrice}}</view>
            <view class="tab-margin" style="color:red"><span style="color:red">
                上门时间：
              </span>{{item.doorStartTime}}-{{item.doorEndTime?item.doorEndTime.slice(-8):''}}</view>
            <view class="tab-margin"><span>下单时间：</span>{{item.createTime}}</view>
          </view>
        </view>
      </view>
      <view class="tab-list-bottom" :style="[item.orderStatus=3?{ padding: '10px' }:{ padding: '20px' }]">
        <view>
          <button @click="pay(item)" v-if='type==0'>接单</button>
          <!-- @click="editOrderMaster(item)" -->
          <view class="example-body" v-else>
            <uni-datetime-picker v-model="single" @change="changeLog($event,item)">
              <!-- <div class="bnt">{{item.status==0?'上门':item.status==1?'结束':''}}</div> -->
              <div class="bnt" v-if="type==1&&item.orderStatus==1">结束</div>
            </uni-datetime-picker>
          </view>
        </view>
      </view>
    </view>
    <tabbar :current='0'></tabbar>
  </view>
</template>
<script>
  import tabbar from "@/components/tabbar/index.vue";
  export default {
    props: {
      type: {
        type: Number,
        default: 0,
      },
    },
    components: {
      tabbar
    },
    data() {
      return {
        list: [],
        single: '',
      }
    },
    onLoad() {
      if (this.type == 1) {
        this.orderList()
      } else if (this.type == 0) {
        this.payList()
      }
      uni.$on('refreshData1', () => {
        if (this.type == 1) {
          this.orderList()
        } else if (this.type == 0) {
          this.payList()
        }
      })
    },
    mounted() {
      if (this.type == 1) {
        this.orderList()
      } else if (this.type == 0) {
        this.payList()
      }
      uni.$on('refreshData1', () => {
        if (this.type == 1) {
          this.orderList()
        } else {
          this.payList()
        }
      })

    },
    methods: {
      payList() {
        this.$http.api.payList().then(res => {
          this.list = res.data
        })
      },
      orderList() {
        let userInfo = uni.getStorageSync('userInfo')
        this.$http.api.orderList(userInfo.masterId).then(res => {
          this.list = res.data
        })
      },
      pay(item) {
        var masterId = uni.getStorageSync('userInfo').masterId
        this.$http.api.orderMaster({
          masterId: masterId,
          orderId: item.id,
        }).then(res => {
          if (res) {
            this.payList()
          }
        })
      },
      editOrderMaster(item) {
        var masterId = uni.getStorageSync('userInfo').masterId
        var status
        var doorTime
        var closeTime
        if (item.status == 0) {
          status = 1
          doorTime = this.single
          closeTime = ''
        } else if (item.status == 1) {
          status = 2
          doorTime = ''
          closeTime = this.single
        }
        this.$http.api.editOrderMaster({
          masterId: masterId,
          orderId: item.id,
          doorTime: this.single,
          status: status,
          closeTime: ''
        }).then(res => {
          if (res) {
            this.orderList()
          }
        })
      },
      changeLog(val, item) {

        this.single = val
        this.editOrderMaster(item)
      },
      details(item) {
        uni.navigateTo({
          url: `/pages/order/Orderdetails?id=${item.id}`
        })
      }
    }
  }
</script>
<style lang="scss">
  .order-info {
    //margin-bottom: 80rpx;
    margin: 0rpx 15rpx;
    padding-bottom: 200rpx;
    height: 100vh;

    .tab-list-data {
      background: #fff;
      margin-bottom: 30rpx;
      border-radius: 10rpx;

      .tab-list-box {
        border-bottom: 1rpx solid #f1f1f1;

        .tab-list-contant {
          padding: 25rpx;

          .tab-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tab-title-left {
              font-size: 30rpx;
              font-weight: bold;
            }

            .tab-title-right {
              color: #ccc;
              vertical-align: middle;

              span {
                margin-top: -12rpx;
              }
            }
          }

          .tab-dec {
            margin-top: 20rpx;

            .tab-margin {
              padding: 15rpx 0px;

              span {
                color: #ccc
              }

              em {
                font-style: none;
                color: #8cde9b;
                display: inline;
                margin-left: 5rpx;
              }

              i {
                font-style: none;
                color: #ccc;
                display: inline;
                margin: 0rpx 10rpx;
              }
            }
          }
        }

      }

      .tab-list-bottom {
        padding: 25rpx;
        display: flex;
        justify-content: flex-end;

        button {
          background: #8cde9b;
          width: 220rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
        }

        .bnt {
          background: #8cde9b;
          width: 200rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
          text-align: center;
        }
      }
    }
  }
</style>