<template>
  <view class="content-home">
    <div class="search">
      <view class="search-box">
        <view class="city" @click="jump">
          {{address}}
          <uni-icons type="location" size="16" id="ico"></uni-icons>
        </view>
        <view @click="SearchItem" class="search-row">
          <uni-easyinput class="uni-mt-5 " suffixIcon="search" v-model="value" placeholder="请搜索您需要的服务"
            placeholder-style="color:#11C7A2"></uni-easyinput>
        </view>

      </view>
    </div>
    <div class="content-home-serve">

      <div class="serve-title">您需要什么服务？</div>
      <div class="home-serve-box">
        <div v-for="(item,index) in  categoryList" :key="index" @click="ServeItem(item,index)">
          <image :src="$preview()+item.picUrl"></image>
          <div>{{item.name}}</div>
        </div>

      </div>
    </div>

    <!--推荐服务-->
    <div class="banner-box">
      <div class="card-serve">
        <div class="card-serve-contant">
          <div class='card-serve-title'>
            <div>更多推荐</div>
          </div>
          <div class="card-serve-item">
            <uni-row class="demo-uni-row">
              <uni-col :span="12" v-for="(item,index) in serviceList" :key="index" style="padding: 10px 0px;">
                <div class="card-box" @click="hotItem(item)">
                  <div class="item-img">
                    <image :src="$preview()+item.iconUrl"></image>
                  </div>
                  <div class="describe">
                    <div>{{item.name}}</div>
                    <div>去看看<uni-icons type="arrow-right" size="15"></uni-icons></div>
                    <div class="serve">已服务<span>{{ item.randomNumber }} 次</span></div>
                  </div>
                </div>
              </uni-col>
            </uni-row>
          </div>
        </div>
      </div>
    </div>

    <!--    <uni-popup ref="cityPhonePop" background-color="#fff" type="bottom" :is-mask-click="false">
      <view class="uesrInfo-box">
        <view class="login">
          <view class="title">获取昵称头像信息</view>
          <button class="avatar-wrapper" open-type="chooseAvatar" @chooseavatar="onChooseAvatar">
            <image class="avatar" :src="userInfo.avatar"></image>
          </button>
          <uni-forms ref="form" label-width='40px'>
            <uni-forms-item label="昵称" name="name">
              <uni-easyinput type="nickname" @blur="getnickname" placeholder="请输入昵称" v-model="userInfo.nickName" />
            </uni-forms-item>
          </uni-forms>
          <button @click="login" class="button-primary" type="primary">去登录</button>
        </view>
      </view>
    </uni-popup> -->
    <tabbar :current='0'></tabbar>
  </view>
</template>

<script>
  import QQMapWX from '../../common/qqmap-wx-jssdk.js'
  import tab from '../../common/tabbar.js';
  import tabbar from "@/components/tabbar/index.vue";

  export default {
    components: {
      tabbar
    },
    data() {
      return {
        title: 'Hello',
        gutter: 0,
        nvueWidth: 730,
        cover: '/static/16.png',
        Hotlist: [],
        Installation: [],
        Maintenance: [],
        Clean: [],
        Demolition: [],
        serviceList: [],
        categoryList: [],
        // userInfo: {
        //   avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0',
        //   nickName: ''
        // },
        address: ''
      }
    },
    onShow() {
      // this.serviceList.find(item => {
      //   console.log(item, '&&&&')
      //   this.$set(item, 'randomNumber', this.generateRandomNumber());
      // });
      //uni.showTabBar();
    },

    onLoad() {
      let userInfo = uni.getStorageSync('userInfo')
      if (userInfo && userInfo.masterId > 0) {
        uni.switchTab({
          url: '/pages/master/index',
          success: function(e) {
            var page = getCurrentPages()[0];
            if (page == undefined || page == null) return;
            page.onLoad();
          }

        })
        uni.$emit('refreshData1');
      } else {
        const store = this.$store; // 或者如果你在组件外使用Vuex，确保store已经初始化
        if (store) {
          this.$store.dispatch('changeTabbar', tab[0])
          uni.switchTab({
            url: '/pages/index/index'
          })
        }
      }
      if (uni.getStorageSync('City_Name')) {
        this.address = uni.getStorageSync('City_Name')
      } else {
        this.getDingwei()
      }
      this.getInfo()
    },
    created() {},
    mounted() {

      // if (uni.getStorageSync('userInfos')) {
      //   let nickName = uni.getStorageSync('userInfos').nickName
      //   if (nickName) {
      //     this.$refs.cityPhonePop.colse()
      //   }
      //   console.log(nickName, 'nickName')
      // } else {
      //   this.$refs.cityPhonePop.open()
      // }
      // let userInfo = uni.getStorageSync('userInfo')
      // console.log(userInfo, userInfo.token && userInfo.masterId == 0, 'userInfo22222')
      // if (userInfo.token && userInfo.masterId == 0) {
      //   wx.setTabBarItem({
      //     index: 3,
      //     visible: false
      //   })
      // } else {
      //   wx.setTabBarItem({
      //     index: 0,
      //     visible: false
      //   })
      //   wx.setTabBarItem({
      //     index: 1,
      //     visible: false
      //   })
      //   wx.setTabBarItem({
      //     index: 2,
      //     visible: false
      //   })
      //   wx.setTabBarItem({
      //     index: 3,
      //     visible: true
      //   })
      //   uni.switchTab({
      //     url: '/pages/master/index' //然后跳转到登录后的首页
      //   })
      // }

    },
    methods: {
      getInfo() {
        this.$http.api.homeInfo({
          serviceName: "",
        }).then(res => {
          if (res.data) {
            this.serviceList = res.data.serviceList
            this.categoryList = res.data.categoryTwoList
            this.serviceList.find(item => {
              this.$set(item, 'randomNumber', this.getRandomInteger(0, 1000));
            });
          }
        })
      },
      ServeItem(item, index) {
        uni.navigateTo({
          url: `/pages/category/serve?name=${item.name}&id=${item.id}`
        })
        uni.setNavigationBarTitle({
          title: item.name
        })
      },
      hotItem(item) {
        uni.navigateTo({
          url: `/pages/category/productdetails?id=${item.id}&title=${item.title}`
        })
        uni.setNavigationBarTitle({
          title: item.name
        })
      },
      SearchItem() {
        uni.navigateTo({
          url: "/pages/category/SearchService"
        })
      },
      jump() {
        uni.navigateTo({
          url: '/pages/city'
        })
      },
      getDingwei() {
        var that = this;
        const tMap = new QQMapWX({
          key: "TG2BZ-L6GWG-FCBQX-QBXJQ-AIA53-J6B2P", //开发者密钥
        });
        uni.getLocation({
          type: "gcj02",
          geocode: true,
          success: (res) => {
            that.longitude = res.longitude;
            that.latitude = res.latitude;
            tMap.reverseGeocoder({
              location: {
                latitude: that.latitude,
                longitude: that.longitude,
              },
              success: function(res) {
                that.address = res.result.address_component.city
                uni.setStorage({
                  key: 'City_Name',
                  data: that.address
                })
                //  console.log(tab1[1], 'tab1')
              },
              fail: function(res) {

              },
            });
          },
          fail: () => {},
        });
      },
      //随机数
      getRandomInteger(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }
    }
  }
</script>

<style lang="scss">
  .content-home {
    .mp {
      margin-top: 15px;
    }

    .lf {
      text-align: left;
    }

    .rg {
      text-align: right;
    }

    .search {
      padding: 10rpx 0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      //background-color: #F5F5F5;
      z-index: 10;
      background-image: linear-gradient(#8cde9b45, #ffffff3d);
      ;

      .search-box {
        // padding: 10rpx 25rpx;
        margin: 20rpx 25rpx;
        padding: 3rpx;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background: #F7FFFD !important;
        border: 1px solid #11C7A2 !important;
        border-radius: 19px !important;

        .city {
          padding: 18rpx 15rpx;
          vertical-align: middle;
          font-size: 24rpx;

          #ico {
            vertical-align: middle;
          }
        }
      }

      .is-input-border {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        // border: 1px solid #11C7A2 !important;
        border: none !important;
        background: #F7FFFD !important;
        border-radius: 19px !important;

      }

      .search-row {
        flex: 1;
      }

      .content-clear-icon {
        padding: 0 15px !important;
        color: #49e7d3 !important;
      }
    }

    .content-home-serve {
      padding: 0px 15px;
      margin-top: 120rpx;

      .serve-title {
        font-size: 18px;
        padding: 30px 0px 20px 0px;
        text-align: center;
      }

      .home-serve-box {
        display: flex;
        flex-direction: row;
        // align-items: center;
        // justify-content: center;
        //margin-bottom: 20px;
        flex-wrap: wrap;
        align-content: flex-start;

        div {
          flex: 0 1 33.33%;
          text-align: center;
          margin-bottom: 10rpx;

          image {
            width: 80px;
            height: 80px;
          }
        }
      }

      .serve-box-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        div {
          flex: 1;
          text-align: center;

          image {
            width: 48px;
            height: 48px;
          }
        }


      }
    }

    .banner-box {

      .card-serve {
        // background: #fff;
        width: 100%;

        .card-serve-contant {
          padding: 0px 15px 15px;

          .card-serve-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            div {
              flex: 1;
            }

            .title {
              color: #c5c4c4;
              cursor: pointer;

            }
          }

          .card-serve-item {
            margin-top: 10px;
            margin-bottom: 110rpx;

            .card-box {
              margin: 0px 3px;
              //border: 1px solid #e8e6e6;
              border: 1px solid f5f2f2;
              border-radius: 5px;
              padding: 10px;
              background: #fff;
              margin-bottom: 5px;
            }

            .item-img {
              width: 100px;
              height: 120px;
              margin: 0 auto;


              image {
                width: 100%;
                height: 100%;
                text-align: center;
              }
            }

            .describe {
              div {
                padding: 6px 0px;
              }

              .serve {
                text-align: right;
                font-size: 20rpx;
                color: #ccc;

                span {
                  color: #333
                }
              }
            }
          }

        }

      }
    }

    .hot-box {
      position: relative;
      height: 280px;

      .banner {
        height: 109px;

        image {
          width: 100%;
          height: 100%;
          //object-fit: cover;
        }
      }

      .hot-serve {
        background: #fff;
        margin: 0px 15px;
        border-radius: 5px;
        position: absolute;
        top: 100px;
        width: 92.5%;

        .uni-col-8 {
          width: 33.33333%;
          padding: 0px 5px !important;
        }

        .card-serve-contant {
          padding: 15px;

          .card-serve-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            div {
              flex: 1;
            }

            .title {
              color: #c5c4c4;
              cursor: pointer;

            }
          }

          .card-serve-item {
            margin-top: 10px;

            .item-img {
              width: 100%;
              height: 80px;

              image {
                width: 100%;
                height: 100%;
                border-radius: 5px;
              }
            }

            .describe {
              margin-top: 5px;

              .describe-box {
                display: flex;
                width: 100px;
                text-align: center;

                div {
                  flex: 1;
                }
              }

              .describe-txt {
                margin-top: 5px;
                text-align: center;

                .price {
                  color: red;
                  font-weight: bold;
                }
              }
            }
          }
        }

      }
    }


  }

  // .content {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  // }

  // .logo {
  //   height: 200rpx;
  //   width: 200rpx;
  //   margin-top: 200rpx;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-bottom: 50rpx;
  // }

  // .text-area {
  //   display: flex;
  //   justify-content: center;
  // }

  // .title {
  //   font-size: 36rpx;
  //   color: #8f8f94;
  // }
</style>