<template>
  <view class="order-info">
    <view class="tab-list-data" v-for="(item,index) in list" :key="index">
      <view class="tab-list-box" v-for="(items,indexs) in item.wxOrderServicesList" :key="indexs">
        <view class="tab-list-contant">
          <view class="tab-dec">
            <view class="tab-margin"><span>订单编号：</span>{{item.id}} <!-- <i>|</i> <em>复制</em> --></view>
            <view class="tab-margin"><span>服务内容：</span>{{items.serviceName}}</view>
            <view class="tab-margin"><span>订单金额：</span>{{item.orderPrice}}</view>
            <view class="tab-margin"><span>下单时间：</span>{{item.createTime}}</view>
          </view>
        </view>
      </view>
      <view class="tab-list-bottom">
        <view>
          <button @click="pay(item)">接单</button>
        </view>
      </view>
    </view>
    <tabbar :current='1'></tabbar>
  </view>
</template>
<script>
  import tabbar from "@/components/tabbar/index.vue";
  export default {
    components: {
      tabbar
    },

    data() {
      return {
        list: [],
      }
    },

    onLoad() {
      // this.orderUserId()
      // uni.$on('refreshData1', () => {
      //   this.orderUserId()
      // })
    },

    mounted() {
      this.payList()
    },
    methods: {
      payList() {
        this.$http.api.payList().then(res => {
          this.list = res.data

        })
      },

      pay(item) {
        var masterId = uni.getStorageSync('userInfo').masterId
        this.$http.api.orderMaster({
          masterId: masterId,
          orderId: item.id,
        }).then(res => {
          if (res) {
            this.payList()
            console.log(res, 'resresresres%%%%')
          }
        })
      },
      // details(item) {
      //   console.log(item.id, '*****')
      //   uni.navigateTo({
      //     url: `/pages/order/Orderdetails?id=${item.id}`
      //   })
      // }
    }
  }
</script>
<style lang="scss">
  .order-info {
    margin-bottom: 80rpx;
    margin: 0rpx 15rpx;

    .tab-list-data {
      background: #fff;
      margin-bottom: 30rpx;
      border-radius: 10rpx;

      .tab-list-box {
        border-bottom: 1rpx solid #f1f1f1;

        .tab-list-contant {
          padding: 25rpx;

          .tab-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tab-title-left {
              font-size: 30rpx;
              font-weight: bold;
            }

            .tab-title-right {
              color: #ccc;
              vertical-align: middle;

              span {
                margin-top: -12rpx;
              }
            }
          }

          .tab-dec {
            margin-top: 20rpx;

            .tab-margin {
              padding: 15rpx 0px;

              span {
                color: #ccc
              }

              em {
                font-style: none;
                color: #8cde9b;
                display: inline;
                margin-left: 5rpx;
              }

              i {
                font-style: none;
                color: #ccc;
                display: inline;
                margin: 0rpx 10rpx;
              }
            }
          }
        }

      }

      .tab-list-bottom {
        padding: 25rpx;
        display: flex;
        justify-content: flex-end;

        button {
          background: #8cde9b;
          width: 220rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
        }
      }
    }
  }
</style>