<template>
  <view class="login">
    <view class="login-content">
      <image :src="avatar" class="login-img"></image>
      <view class="login-box">
        <view class="login-title">Hi~请登录</view>
        <view class="login-way">
          <uni-tooltip content="请先阅读并同意协议" placement="top">
            <button class="button-primary" type="primary" v-if="value.length==0">手机号快捷登录</button>
          </uni-tooltip>
          <button class="button-primary" type="primary" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber"
            v-if="value.length>0">手机号快捷登录</button>
          <button class="button-default" type="default" @click="register">手机验证码登录</button>
          <view class="login-agreement">
            <!--      <uni-data-checkbox selectedColor="red" selectedTextColor="red" multiple v-model="radio4"
              :localdata="list"></uni-data-checkbox> -->
            <uni-data-checkbox　selectedColor="#5FC484" multiple v-model="value" :localdata="list"
              @change="Oncheckbox"></uni-data-checkbox>

            <span @click="agreement(1)">《服务协议》</span>
            <span @click="agreement(2)">《隐私政策》</span>
          </view>
        </view>
      </view>
    </view>
  </view>
  </view>
</template>

<script>
  import tab from '../../common/tabbar.js';
  export default {
    data() {
      return {
        title: 'Hello',
        value: [],
        list: [{
          text: '我已阅读并同意',
          value: 1
        }],
        agreeProtocol: 0,
        avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0'
      }
    },
    onShow() {
      uni.hideHomeButton(); //隐藏home/返回主页按钮
    },
    onLoad() {},
    methods: {
      Oncheckbox(e) {
        if (e.detail.value.length == 0) {
          this.agreeProtocol = 0
        } else {
          this.agreeProtocol = 1
        }
      },
      //通过Code换取手机号
      wxcode(params, code) {
        this.$http.api.getPhoneByCode({
          code: params,
        }).then(res => {
          console.log(res, 'resresres')
          this.loginBy(code, res.data)
        })
      },
      //获取手机号
      getPhoneNumber(e) {
        const _this = this
        if (e.detail.errMsg == "getPhoneNumber:ok") {
          // 获取session_key等信息
          uni.login({
            success: function(res) {
              _this.wxcode(e.detail.code, res.code)
            }
          });

        } else {
          console.log('用户拒绝授权获取手机号');
        }
      },
      //登录接口
      loginBy(code, phone) {
        let userInfos = uni.getStorageSync('userInfos')
        this.$http.api.loginByWeixin({
          code: code,
          phone: phone,
          nickName: userInfos.nickName,
          avatar: userInfos.avatar,
          agreeProtocol: this.agreeProtocol
        }).then(res => {

          if (res.code == 200) {
            if (!userInfos) {
              res.data.avatar =
                'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0'
            }
            let data = Object.assign({}, res.data, userInfos)
            uni.setStorageSync('userInfo', data)
            // uni.navigateBack({
            //   delta: 1
            // });

            // if (res.data.masterId > 0) {
            //   uni.switchTab({
            //     url: '/pages/master/index',
            //     success: function(e) {
            //       var page = getCurrentPages()[0];
            //       if (page == undefined || page == null) return;
            //       page.onLoad();
            //     }

            //   })
            //   uni.$emit('refreshData1');
            // }

            if (res.data.masterId > 0) {
              const store = this.$store;
              if (store) {
                this.$store.dispatch('changeTabbar', tab[1])
                uni.switchTab({
                  url: '/pages/master/index',
                  success: function(e) {
                    var page = getCurrentPages()[0];
                    if (page == undefined || page == null) return;
                    page.onLoad();
                  }

                })
                uni.$emit('refreshData1');
              }
            } else {
              uni.navigateBack({
                delta: 1
              });
            }
          }

        })
      },

      register() {
        uni.navigateTo({
          url: '/pages/register/register'
        })
      },
      agreement(index) {
        uni.navigateTo({
          url: `/pages/agreement/index?type=${index}`
        })
      }
    }
  }
</script>

<style lang="scss">
  .login {
    height: 100vh;
    background: #5FC484;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

    .login-content {
      background: #fff;
      border-radius: 5px;
      text-shadow: 1px #000;
      width: 90%;

      .login-img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 2px solid #fff;
        margin-top: -30px;
      }

      .login-box {
        margin: 0px 15px;

        .login-title {
          padding: 20px 0px;
          font-size: 18px;
          border-bottom: 0.2px solid #f1eded;
        }

        .login-way {
          padding: 35px 0px;

          button {
            margin: 20px 0px;
          }

          .button-primary {
            background: #5FC484;
            border: none;
          }

          .button-default {
            background: #fff;
            border: 0.5px solid #000
          }

          .login-agreement {
            display: flex;
            margin: 50px 0px 10px 0px;

            .uni-data-checklist .checklist-group .checklist-box {
              display: flex;
              flex-direction: row;
              align-items: center;
              position: relative;
              margin: 0px 0;
              margin-right: 0px;
            }

            .checklist-text {
              font-size: 12px;
              color: #666
            }

            span {
              color: #5FC484;
              font-size: 12px;
            }
          }
        }
      }

    }

  }
</style>