<template>
  <view class="register-info">

    <view class="register-info-form">
      <uni-forms ref="valiForm" :rules="rules" :modelValue="valiFormData">
        <uni-forms-item name="phone">
          <uni-easyinput prefixIcon=" iconfont  icon-shouji" v-model="valiFormData.phone" placeholder="请输入手机号" m
            maxlength="11" @input="setValue('phone',valiFormData.phone)" />
        </uni-forms-item>
        <uni-forms-item name="age">
          <uni-easyinput prefixIcon=" iconfont  icon-yanzhengma" v-model="valiFormData.age" placeholder="请输入短信验证码">
            <template #right>
              <button id="send" :disabled="isDisabled" @click="code">获取验证码</button>
            </template>
          </uni-easyinput>
        </uni-forms-item>
      </uni-forms>
    </view>
    <view class="mp">
      <button type="primary" :disabled="valiFormData.age==''" @click="submit('valiForm')">确定</button>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        // 校验表单数据
        valiFormData: {
          name: '',
          age: '',
          introduction: '',
        },
        rules: {
          name: {
            rules: [{
              required: true,
              errorMessage: '姓名不能为空'
            }]
          },
          age: {
            rules: [{
              required: true,
              errorMessage: '年龄不能为空'
            }, {
              format: 'number',
              errorMessage: '年龄只能输入数字'
            }]
          },

        },
        isDisabled: true
      }
    },
    methods: {
      setValue(name, value) {
        // 设置表单某项对应得值来触发表单校验
        // 接受两个参数，第一个参数为表单域的 name ，第二个参数为表单域的值
        if (value.length < 11 || value.length > 11) {
          this.isDisabled = true
        } else {
          this.isDisabled = false
        }
        this.$refs.valiForm.setValue(name, value)
      },
      code() {
        console.log(1111)
      },
      submit(ref) {
        this.$refs[ref].validate().then(res => {
          console.log('success', res);
          uni.showToast({
            title: `校验通过`
          })
        }).catch(err => {
          console.log('err', err);
        })
      },
    }
  }
</script>

<style lang="scss">
  .register-info {

    //padding: 15px;
    .register-info-form {
      background: #fff;

      // .uni-forms {
      //   padding: 0px 15px;
      // }

      .uni-forms-item {
        margin-bottom: 0px;
      }

      .uni-easyinput__content-input {
        height: 55px;
      }

      .is-input-border {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #DCDFE6;
      }

    }

    #send {
      background: none;
      color: #5FC484;
      font-size: 14px;
      cursor: pointer;
    }

    button {
      background: #5FC484;
    }

    .is-input-border {
      border: none !important;
      border-bottom: 1px solid #DCDFE6 !important;
      border-radius: none !important;
    }

    .mp {
      padding: 45px 15px;
    }
  }
</style>