<template>
  <view>
    <web-view :src="url"></web-view>
  </view>
</template>

<script>
  import webview from '../webview/webview'
  export default {
    components: {
      webview
    },
    data() {
      return {
        url: ''
      };
    },
    onLoad(item) {
      this.url = item.url
    }
  }
</script>

<style>
</style>