<template>
  <view class="feedback-from">
    <view class="feedback-from-contan-box">
      <view class="feedback-from-box">
        <view class="feedback-from-title"><span class="red">*</span>反馈问题类型</view>
        <view class="feedback-from-contant">
          <view class="example-body">
            <view class="tag-view" v-for="(item,index) in list" :key="index">
              <view :inverted="true" @click="checked(item,index)" class="tabs"
                :class="activeItem == index? 'active': ''">
                {{item.dictLabel}}
              </view>
            </view>
            <view class="text-style">
              <textarea :placeholder="inputPlaceholder" v-model="form.content" @input="handleInput" maxlength="150" />
            </view>
            <view class="counter">{{form.content.length}}/150</view>

          </view>
          <view class="example-body mb">
            <uni-file-picker title="截图或图片(选填)" @select="select" @delete="deletephoto"></uni-file-picker>
          </view>
        </view>
      </view>

    </view>
    <!-- <view class="feedback-from-way">
      <view class="lable">联系方式</view>
      <view class="feedback-way-input">
        <input type="text" v-model="form.phone" placeholder="请输入内容" style="width: 100%;" @input="check(form.phone)" />
      </view>
    </view> -->
    <view class="bnt">
      <button @click="feedback">提交反馈 </button>
    </view>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        list: [],
        inputPlaceholder: '你可以说明具体问题，我们会认真考虑您的建议，尽可能解决您的问题',
        form: {
          feedType: '',
          content: '',
          phone: '',
          picUrls: [],
          userId: ''
        },
        activeItem: null
      }
    },
    onLoad() {

    },
    mounted() {
      this.dictList()
    },
    methods: {
      //类型字典列表
      dictList() {
        let dictType = 'wx_feedback_type'
        this.$http.api.dictList(dictType).then(res => {
          if (res) {
            this.list = res.data
          }
        })
      },
      //反馈新增
      feedback() {
        var userId = uni.getStorageSync('userInfo').userId
        this.form.userId = userId
        if (this.form.feedType == '') {
          uni.showToast({
            icon: 'none',
            duration: 3000,
            title: `请选择反馈类型`
          })
        } else if (this.form.content == '') {
          uni.showToast({
            icon: 'none',
            duration: 3000,
            title: `反馈内容不能为空`
          })
        } else {
          if (this.form.picUrls.length > 0) {
            this.form.picUrls = this.form.picUrls.join(',')
          }
          this.$http.api.feedback(this.form).then(res => {
            if (res) {
              if (res.code == 200) {
                this.form.content = ''
                this.form.feedType = ''
                this.form.phone = ''
                uni.navigateTo({
                  url: '/pages/info/components/feedbackSucess'
                })
              }
            }
          })
        }

      },
      handleInput(e) {
        this.form.content = e.target.value;
      },
      checked(item, index) {
        this.activeItem = index
        this.form.feedType = item.dictValue
        if (item.dictLabel == '服务类目不合理') {
          this.inputPlaceholder = "你可以说明具体问题，我们会认真考虑您的建议，尽可能解决您的问题"
        } else if (item.dictLabel == '体验问题') {
          this.inputPlaceholder = "哪里体验不好？告诉我们，我们会尽快优化"
        } else if (item.dictLabel == '其他') {
          this.inputPlaceholder = "请输入您的详细意见或建议，我们会尽我们所能为您解决"
        } else if (item.dictLabel == '功能异常') {
          this.inputPlaceholder = "不能愉快的使用现有功能？请上传相关截图能方便我们快速解决问题"
        } else if (item.dictLabel == '新功能建议') {
          this.inputPlaceholder = "快把你想的服务说出来吧,我们产品经理会看到的喔"
        } else if (item.dictLabel == '搜索服务/建议') {
          this.inputPlaceholder = "如您未找到想要的服务，可以告诉我们，后续服务上线后，我们会告知您。"
        }
      },
      check(phone) {
        let iphoneReg = /^(13[0-9]|14[1579]|15[0-3,5-9]|16[6]|17[0123456789]|18[0-9]|19[89])\d{8}$/
        if (iphoneReg.test(phone)) {
          return true
        } else {
          uni.showToast({
            icon: 'none',
            title: `请输入正确的手机号`
          })
        }
      },
      //上传
      select(e) { //select是选择好图片之后的方法
        console.log(e.tempFilePaths[0]) //会得到一个api提供的临时图片地址
        let baseUrl = 'https://api.zzzhuoya.com:443'
        let url = '/common/upload'
        let token = uni.getStorageSync("userInfo")
        uni.uploadFile({
          url: baseUrl + url, //上传图片的接口
          filePath: e.tempFilePaths[0], //一定要用这个参数！它会用formata的形式传递参数
          name: 'file',
          header: {
            'Authorization': token.token ? `Bearer ${token.token}` : '',
          },
          success: (uploadFileRes) => { //成功的回调，把返回的图片地址拼接进变量
            console.log(uploadFileRes.data);
            this.form.picUrls.push(JSON.parse(uploadFileRes.data).url)
          },
          fail: (res) => { //失败的回调
            console.log(res)
          }
        });
      },

      deletephoto(e) { //deletephoto是把已经上传的图片叉掉之后的方法。需要把变量中的图片地址去掉
        let index = this.form.picUrls.indexOf(e.tempFilePath);
        this.form.picUrls.splice(index, 1);
      },

    }
  }
</script>
<style lang="scss">
  .feedback-from {
    margin-bottom: 80rpx;
    margin: 15rpx 0rpx;

    .feedback-from-contan-box {
      background: #fff;
    }

    .mb {
      padding-bottom: 10rpx;
    }

    .feedback-from-box {
      padding: 15rpx 20rpx;

      .red {
        color: red;
        vertical-align: middle;
        margin-right: 12rpx;
      }

      .feedback-from-contant {
        .example-body {
          margin-top: 15rpx;
          background: #fff;

          .tag-view {
            display: inline-block;
            margin: 15rpx 15rpx;
          }

          .text-style {
            background: #f7f7f7;
            padding: 10px;
            margin: 10rpx 0rpx;

            textarea {
              text-indent: 0.5rem;
              width: 100%;
            }
          }
        }
      }

      .counter {
        text-align: right;
      }
    }

    .feedback-from-way {
      background: #fff;
      display: flex;
      padding: 20rpx;
      align-items: center;
      margin-top: 30rpx;

      .feedback-way-input {
        flex: 2;
      }
    }

    .lable {
      margin-right: 15rpx;
    }

    .tabs {
      font-size: 12px;
      font-weight: 200;
      padding: 4px 7px;
      color: #333;
      border-radius: 3px;
      border: 1rpx solid #d2d1d1;
    }

    .active {
      color: #8cde9b;
      border: 1px solid #8cde9b;
    }

    .bnt {
      width: 80%;
      padding: 20rpx;
      margin: 0 auto;
      text-align: center;
      margin-top: 30rpx;

      button {
        background: #5FC484;
        color: #fff;
        border-radius: 55rpx;
      }
    }
  }
</style>