<template>
  <view class="feedback-list">
    <view class='feedback-contant' v-for="(item,index) in list" :key="index">
      <view class="feedback-box">
        {{item.content}}
      </view>
      <view class="feedback-box">
        <view> {{statusText[item.feedType]}}</view>
        <view>{{item.createTime}}</view>
      </view>
    </view>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        list: [],
        form: {
          userId: '',
          pageNum: 1,
          pageSize: 10,
        },
        statusText: {
          42: '服务类目不合理',
          43: '体验问题',
          44: '其他',
          45: '功能异常',
          46: '新功能建议',
          47: '搜索服务/建议',
        },
      }
    },
    onLoad() {

    },
    mounted() {
      this.feedbackList()
    },
    methods: {
      //反馈列表
      feedbackList() {
        var userId = uni.getStorageSync('userInfo').userId
        this.form.userId = userId
        this.$http.api.feedbackList(this.form).then(res => {
          if (res) {
            this.list = res.rows
          }
        })
      },
      //反馈新增
      feedback() {
        var userId = uni.getStorageSync('userInfo').userId
        this.form.userId = userId
        if (this.form.feedType == '') {
          uni.showToast({
            icon: 'none',
            duration: 3000,
            title: `请选择反馈类型`
          })
        } else if (this.form.content == '') {
          uni.showToast({
            icon: 'none',
            duration: 3000,
            title: `反馈内容不能为空`
          })
        } else if (this.form.phone == '') {
          uni.showToast({
            icon: 'none',
            duration: 3000,
            title: `手机号不能为空`
          })
        } else {
          this.$http.api.feedback(this.form).then(res => {
            if (res) {
              if (res.code == 200) {
                this.form.content = ''
                this.form.feedType = ''
                this.form.phone = ''
                uni.navigateTo({
                  url: '/pages/info/components/feedbackSucess'
                })
              }
            }
          })
        }

      },

    }
  }
</script>
<style lang="scss">
  .feedback-list {
    .feedback-contant {
      background: #fff;
      margin-bottom: 20rpx;

      .feedback-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30rpx 40rpx;
        border-bottom: 1px solid #f1f1f1;

        view {
          color: #c5c5c5
        }
      }
    }
  }
</style>