<template>
  <view class="feedback-sucess">
    <view class="feedback-box">
      <uni-icons type="checkbox-filled" size="50" color="#8cde9b"
        style=" vertical-align: middle"></uni-icons><span>反馈成功</span>
      <view class='dec'>
        感谢您的关注和支持，我们会认真处理您反馈的问题，尽快修复并完善相关功能。
      </view>
      <view class="bnt">
        <button type="primary" @click="Jumpback">返回首页</button>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {}
    },
    onLoad() {},
    mounted() {},
    methods: {
      Jumpback() {
        uni.switchTab({
          url: '/pages/index/index'
        })
      }
    }
  }
</script>


<style lang="scss">
  .feedback-sucess {

    .feedback-box {
      margin-top: 200rpx;
      text-align: center;

      span {
        color: #8cde9b;
        font-size: 48rpx;
        vertical-align: middle;
      }

      .dec {
        padding: 20rpx 100rpx;
      }

      .bnt {
        width: 60%;
        padding: 20rpx;
        margin: 0 auto;
        text-align: center;
        margin-top: 80rpx;

        button {
          background: #5FC484;
          color: #fff;
          border-radius: 55rpx;
        }
      }
    }
  }
</style>