<template>
  <view class="category">
    <view class="search">
      <view class="search-box" @click="SearchItem">
        <uni-easyinput class="uni-mt-5" suffixIcon="search" v-model="value" placeholder="请搜索您需要的服务"></uni-easyinput>
      </view>
    </view>
    <view class="commodity-box" :style="{height:windowHeight+'px'}">
      <!-- 左侧滚动 -->
      <scroll-view scroll-y="true" class="scroll-title-Y" :scroll-with-animation="true" :scroll-into-view="clickToId">
        <view :class="['commodity-classify',{'bg':selectClass===index}]" v-for="(item,index) in commodityClassify"
          :key="index" @click="classifyClick(index,item)" :id="'to' + index">
          {{item.name}}
        </view>
      </scroll-view>

      <!-- 右侧滚动 -->
      <scroll-view :scroll-top="myScrollTop" scroll-y="true" class="scroll-commodity-Y" @touchend="touchend"
        :scroll-into-view="clickId" :scroll-with-animation="true">
        <view class="commodity-list right_title">
          <view v-for="(item,index) in commodityList" :key="index" class="box-commodity">
            <view class="title">{{ item.name }}</view>
            <!-- 每个商品页 -->
            <scroll-view class="content-box">
              <view class="content-box-2">
                <view class="commodity-box-list" v-for="(items,indexs) in item.serviceList" :key="indexs"
                  @click="serviceItem(items)">

                  <view class="commodity-img">
                    <image :src="$preview()+items.iconUrl" mode="widthFix"></image>
                  </view>
                  <view class="commodity-title">
                    {{items.name}}
                  </view>
                </view>
              </view>
            </scroll-view>
          </view>
        </view>
      </scroll-view>
    </view>
    <tabbar :current='1'></tabbar>
  </view>
</template>
<script>
  import tabbar from "@/components/tabbar/index.vue";
  export default {
    components: {
      tabbar
    },
    data() {
      return {
        windowHeight: null,
        searchStyle: {
          backgroundColor: '#f7f5f6'
        },

        commodityClassify: [],
        commodityList: [],
        selectClass: 0,
        lineNum: null,
        cal: null,
        clickId: '',
        clickToId: '',
        currentNum: 0,
        topList: [],
        isLeftClick: false,
        timer: null,
        myScrollTop: '',
        old: {
          scrollTop: 0,
          scrollTop2: ''
        },
        touchHeight: '',
        biggerThan: false,
        scroll2Index: '',
        categoryId: null
      }
    },
    onShow() {},
    onLoad() {
      this.fitNav()

    },
    mounted() {
      this.getNodesInfo();
      this.getCommodityList()


    },
    methods: {
      //父级目录
      getCommodityList() {
        this.$http.api.parent({
          pageNum: 1,
          pageSize: 10,
          pname: ''
        }).then(res => {
          if (res.data) {
            this.commodityClassify = res.data
            this.categoryId = res.data[0].id
            console.log(this.categoryId, 'this.categoryId this.categoryId this.categoryId ')
            this.getServiceList(this.categoryId)
          }

        })
      },
      //服务列表
      getServiceList(categoryId) {
        this.$http.api.TreeListByCategoryId({
          categoryId: categoryId,
        }).then(res => {
          if (res.data) {
            this.commodityList = res.data
          }

        })
      },
      serviceItem(item) {
        uni.navigateTo({
          url: `/pages/category/productdetails?id=${item.id}&title=${item.name}`
        })
      },
      // 获取手机信息及位置
      fitNav() {
        // 获取手机信息
        let info = uni.getSystemInfoSync()
        // windowHeight:屏幕高度   statusBarHeight：状态栏高度  67：搜索框高度  45：title高度
        this.windowHeight = info.windowHeight - info.statusBarHeight - 25
        // console.log('尺寸', info)
      },
      search(e) {
        console.log('搜索', e);
      },
      // 左侧的点击
      classifyClick(index, item) {
        this.selectClass = index
        this.clickId = 'po' + index;
        this.isLeftClick = true;
        //this.categoryId = item.id
        this.getServiceList(item.id)
      },
      // 触摸事件
      touchend(e) {
        console.log('结束', this.biggerThan);
        this.myScrollTop = this.old.scrollTop
        this.$nextTick(() => {
          this.myScrollTop = this.touchHeight
        })
        if (this.biggerThan) {
          clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            this.commodityList[this.scroll2Index].scrollTop = this.old.scrollTop2
            this.$nextTick(() => {
              this.commodityList[this.scroll2Index].scrollTop = 0
              // console.log('置顶', this.scroll2Index);
              this.biggerThan = false
            })
          }, 400)

        }

      },
      scroll2(index, e) {
        // console.log('have?', index, e);
        this.scroll2Index = index
        this.old.scrollTop2 = e.detail.scrollTop
        this.biggerThan = false
      },
      // scroll(e) {
      //   if (this.isLeftClick) {
      //     this.isLeftClick = false;
      //     return;
      //   }
      //   let scrollTop = e.target.scrollTop;
      //   this.old.scrollTop = e.detail.scrollTop
      //   for (let i = 0; i < this.topList.length; i++) {
      //     let h1 = this.topList[i];
      //     let h2 = this.topList[i + 1];
      //     if (scrollTop >= h1 && scrollTop < h2) {
      //       if (scrollTop < this.topList[1] / 2 + this.topList[1] * i) {
      //         this.selectClass = i;
      //         this.clickToId = 'to' + i;
      //         this.touchHeight = h1
      //         // console.log('小于');
      //       } else {
      //         this.selectClass = i + 1;
      //         this.clickToId = 'to' + (i + 1);
      //         this.touchHeight = h2
      //         this.biggerThan = true
      //         // console.log('大于');
      //       }
      //       // console.log('执行' + i, scrollTop);
      //     }
      //     //解决滚动到最后选项左侧不会选中
      //     let length = this.topList.length;
      //     // console.log('滚动', scrollTop);
      //     if (scrollTop >= this.topList[length - 1]) {
      //       this.selectClass = length - 1;
      //       this.clickToId = 'to' + (length - 1);
      //     }
      //   }
      // },

      getNodesInfo() {
        //获取节点为.right_title距离顶部的距离，返回值放在数组中
        const query = uni.createSelectorQuery().in(this);
        query
          .selectAll('.right_title')
          .boundingClientRect()
          .exec(res => {
            console.log('right_title', res);
            let arr = [];
            res[0].map(item => {
              arr.push(item.top - res[0][0].top);
            });
            console.log(arr);
            this.topList = arr;
          });
      },
      SearchItem() {
        uni.navigateTo({
          url: "/pages/category/SearchService"
        })
      },
    }
  }
</script>

<style lang="scss">
  .category {
    .search {
      padding: 10rpx 0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #F5F5F5;
      z-index: 10;

      .search-box {
        padding: 10rpx 25rpx;
      }

      .is-input-border {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        border: 1px solid #11C7A2 !important;
        background: #F7FFFD !important;
        border-radius: 19px !important;
      }

      .content-clear-icon {
        padding: 0 15px !important;
        color: #49e7d3 !important;
      }
    }

    .box-commodity {
      background: #fff;
      margin-bottom: 20rpx;
      border-radius: 10rpx;
    }

    .commodity-box {
      width: 100%;
      // border: 1px solid red;
      display: flex;
      margin-top: 120rpx;

      .scroll-title-Y {
        width: 200rpx;
        height: 100%;
        //background-color: #f7f4f8;
        margin-right: 15rpx;

        .commodity-classify {
          width: 100%;
          height: 90rpx;
          line-height: 90rpx;
          color: #646464;
          font-size: 26rpx;
          // padding-left: 30rpx;
          padding-left: 20rpx;
          // border: 1px solid red;
        }

        .bg {
          color: #42c2a4;
          background-color: #fff;
          position: relative;
        }

        .bg::before {
          content: '';
          width: 10rpx;
          height: 30rpx;
          background-color: #42c2a4;
          border-radius: 2rpx;
          position: absolute;
          left: 1%;
          top: 50%;
          transform: translateY(-50%);
        }
      }


      .scroll-commodity-Y {
        flex: 1;
        height: 100%;
        //background-color: #fff;
        margin-right: 10rpx;
        // margin-bottom: 20rpx;

        .commodity-list {
          width: 100%;
          height: 100%;
          //padding: 40rpx;
          //padding: 15rpx;
          margin-right: 15rpx;
          margin-bottom: 40rpx;

          // border: 1px solid red;
          .content-box {
            width: 100%;
            height: 95%;

            // border: 1px solid red;
          }

          .title {
            //color: #42c2a4;
            padding: 10rpx 25rpx;
            font-size: 32rpx;
          }

          .content-box-2 {
            width: 100%;
            height: 100%;
            display: flex;
            align-content: flex-start;
            //justify-content: space-between;
            flex-wrap: wrap;

          }

          .commodity-box-list {
            width: 165rpx;
            height: 200rpx;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: space-between;
            padding-top: 13rpx;
            margin-bottom: 0rpx;


            .commodity-img {
              width: 142rpx;
              height: 142rpx;
              overflow: hidden;

              image {
                width: 100%;
                height: 100%
              }
            }

            .commodity-title {
              font-size: 24rpx;
              color: #323232;
            }
          }
        }
      }
    }

    ::-webkit-scrollbar {
      width: 0px;
      background-color: #fff;
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 10px;
    }

    /* 滚动条轨道 */
    ::-webkit-scrollbar-track {
      background-color: #fff;
    }
  }
</style>