<template>
  <view class="order">
    <uni-list>
      <uni-list-item :title="address.address?address.address:'选择地址'"
        :note="address.name?address.name+' '+address.mobile:''" link to="/pages/info/address" />
      <uni-list-item :title="'上门时间' +' '+doorTime" link @click="dateClick" />
    </uni-list>
    <view class="order-box" v-for="(item,index) in list" :key="index">

      <view class="order-dec">
        <view class="order-dec-left">
          <view class="order-dec-img">
            <image :src="$preview()+item.serviceIconUrl"></image>
          </view>
          <view class="order-dec-title">
            <view>{{item.serviceName}}</view>
            <view class="order-dec-color">￥{{item.servicePrice}}</view>
          </view>
        </view>
        <view class="order-dec-right">
          <uni-number-box v-model="item.serviceNumber" @blur="blur" @focus="focus" @change="changeValue($event,item)" />
        </view>

      </view>
      <view class="order-dec-show" style="text-align: center;">
        展开详情
      </view>
      <view class="message">
        <uni-forms ref="valiForm" :modelValue="valiFormData">
          <uni-forms-item name="phone" label="留言">
            <uni-easyinput v-model="item.message" placeholder="请补充您的需求" />
          </uni-forms-item>
        </uni-forms>
      </view>
    </view>
    <!--    <view style="background: #fff;">
      <view class="order-price">
        <view>商品金额</view>
        <view>￥{{detail.servicePrice}}</view>
      </view>
      <view class="order-price">
        <view>优惠券</view>
        <view>上门服务</view>
      </view>
      <view class="total">
        合计：￥{{totalPrice}}
      </view>
    </view> -->
    <view class="footer">
      <view class="footer-box">
        <view class="footer-box-left">￥{{totalPrice}}</view>
        <view class="footer-box-right" @click="goback">去支付</view>
      </view>
    </view>
    <hTimeAlert title="您期望的上门时间" rangeStartTime="8:00:00" rangeEndTime="22:00:00" defaultTime="2020/3/29 18:00:00"
      intervalTime="120" dayStartIntTime="0" rangeDay="15" :isShow="isShow" :maskHide="maskHide" :rangeType="rangeType"
      :isRoundingTime="true" :closeBtn="closeBtn" @closeAlert="handelClose">
    </hTimeAlert>
  </view>
</template>

<script>
  import hTimeAlert from "@/components/h-time-alert/h-time-alert.vue";

  export default {
    components: {
      hTimeAlert
    },
    data() {
      return {
        valiFormData: {
          name: '',
        },
        address: '',
        type: '',
        list: [],
        orderId: '',
        isShow: false,
        maskHide: false,
        closeBtn: true,
        rangeType: true,
        doorTime: '',
        order: {}
      }
    },
    computed: {
      totalPrice() {
        let totalPrice = 0
        this.list.map(item => {
          // item.checked == true ? totalPrice += item.serviceNumber * item.servicePrice : totalPrice += 0
          totalPrice += item.serviceNumber * item.servicePrice

        })
        return totalPrice.toFixed(2); // 保留两位小数（否则会价格会出现多位小数）
      }
    },
    onLoad(option) {

      if (uni.getStorageSync('City_address')) {
        this.address = uni.getStorageSync('City_address')
      }
      // if (option) {
      //   this.order = JSON.parse(decodeURIComponent(option.obj))
      //   this.ordersDetails(this.order.orderId)
      // }
      if (option) {
        this.order = JSON.parse(decodeURIComponent(option.obj))
        this.list = this.order.wxOrderServicesList
      }
    },
    methods: {
      ordersDetails(id) {
        this.$http.api.ordersDetails(id).then(res => {
          if (res) {
            this.orderId = res.data.id
            this.list = res.data.wxOrderServicesList
          }
        })
      },
      changeValue(value, detail) {
        if (!this.type) {
          this.editServe(value, detail)
        }

      },
      payBack(data) {

        let that = this
        uni.requestPayment({
          appId: data.appId, //小程序的appid
          timeStamp: data.wxResult.timeStamp, //时间戳，要字符串类型的
          nonceStr: data.wxResult.nonceStr, //随机字符串，长度为32个字符以下。
          package: data.wxResult.packageValue, //prepay_id 参数值，提交格式如：prepay_id=xx
          signType: data.wxResult.signType, //MD5类型A
          paySign: data.wxResult.paySign, //签名
          success: function(res) {
            //支付成功的回调    成功之后你想做什么在这里操作  比如弹窗一个提示:支付成功等
            that.orderSave(1)
          },
          fail: function(err) {
            //支付失败的回调   失败之后你想做什么在这里操作  比如弹窗一个提示:支付失败等
            that.orderSave(2)
          },
        });
      },
      goback() {
        if (this.address && this.doorTime) {
          this.list.filter(item => item.checked);
          this.list.find(res => {
            if (res.checked == true) {
              res.checked = 1
              delete res.id
            }
          })

          let QueryParams = Object.assign({}, {
            actualPrice: this.totalPrice,
            orderSource: 1,
            userId: uni.getStorageSync('userInfo').userId,
            servicePrice: this.totalPrice,
            orderPrice: this.totalPrice,
            wxOrderServicesList: this.list
          })
          this.$http.api.order(QueryParams).then(res => {
            if (res) {
              if (res.code == 200) {
                this.orderId = res.data.orderId
                this.payBack(res.data)
              }
            }
          })
        } else {
          uni.showToast({
            title: `请填写地址及上门时间`,
            icon: 'none'
          })
        }

      },
      editServe(val, item) {
        let data = {
          cartId: item.cartId,
          id: item.id,
          serviceName: item.serviceName,
          servicePrice: item.servicePrice,
          serviceId: item.serviceId,
          serviceNumber: val,
          userId: item.userId,
        }
        this.$http.api.editCartService(data).then(res => {
          if (res) {
            // this.cartDetails(this.form.userId)
          }
        })
      },
      orderSave(index) {
        //index==1 已支付 index==2 已取消
        let QueryParams = Object.assign({}, {
          address: this.address.address,
          actualPrice: this.totalPrice,
          message: this.valiFormData.message,
          mobile: this.address.mobile,
          consignee: this.address.name,
          orderPrice: this.totalPrice,
          orderSource: 1,
          orderStatus: index,
          servicePrice: this.totalPrice,
          id: this.orderId,
          doorTime: this.doorTime,
          doorStartTime: this.doorStartTime,
          doorEndTime: this.doorEndTime

        })
        this.$http.api.orderPay(QueryParams).then(res => {
          if (res) {
            uni.switchTab({
              url: '/pages/order/index',
              success: function(e) {
                var page = getCurrentPages()[0];
                if (page == undefined || page == null) return;
                page.onLoad();
              }

            })
            uni.$emit('refreshData1');
          }
        })
      },
      dateClick() {
        this.isShow = true;
      },
      handelClose(data) {
        this.isShow = false;
        this.doorStartTime = data._date + ':' + '00'
        var Endtime = data._dateRange
        var substr = Endtime.substring(0, 9);
        var last = Endtime.slice(-5);
        this.doorEndTime = substr + " " + last + ':' + '00'
        this.doorTime = data._dateRange

      }
    }
  }
</script>

<style lang="scss">
  .order {
    .order-dec {
      display: flex;
      background: #fff;
      margin: 20px 0rpx;
      flex-direction: row;
      justify-content: space-between;
      padding: 10rpx 30rpx;

      .order-dec-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .order-dec-img {
          width: 100rpx;
          height: 100rpx;

          image {
            width: 100%;
            height: 100%;
          }
        }

        .order-dec-title {
          padding: 10rpx;

          view {
            padding: 5rpx 0rpx;
          }

          .order-dec-color {
            color: red
          }
        }
      }

      .order-dec-right {
        margin-top: 20rpx;
      }
    }

    .order-box {
      background: #fff;

      .rder-dec-show {
        // margin: 0rpx 30rpx;
        text-align: center;
        cursor: pointer;
        padding: 30rpx 0rpx;
        color: #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
      }

      .message {
        padding: 20rpx;
      }
    }

    .is-input-border {
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
      border: none;
      border-radius: 4px;
    }

    .uni-forms-item {
      position: relative;
      display: flex;
      margin-bottom: 0px;
      flex-direction: row;
    }

    .order-price {
      display: flex;
      background: #fff;
      flex-direction: row;
      justify-content: space-between;
      margin: 20rpx 0rpx;
      padding: 20rpx;
    }

    .total {
      border-top: 1px solid #ccc;
      padding: 20rpx;
    }

    .footer {
      width: 100%;
      bottom: 0rpx;
      height: 100rpx;
      line-height: 100rpx;
      position: fixed;

      border-top: 1px solid #ccc;

      .footer-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;

        .footer-box-left {
          //text-align: center;
          margin-left: 15rpx;
          font-size: 32rpx;
          color: red;
          font-weight: bold;
          flex: 1;
        }

        .footer-box-right {
          text-align: center;
          font-size: 32rpx;
          color: #fff;
          font-weight: bold;
          flex: 1;
          background: #8cde9b;
        }
      }
    }
  }
</style>