<template>
  <view class='product' v-if="serveDetails">
    <view class="swiper">
      <uni-swiper-dot class="uni-swiper-dot-box" @clickItem=clickItem :info="info" :current="current" :mode="mode"
        :dots-styles="dotsStyles" field="content">
        <swiper class="swiper-box" @change="change" :current="swiperDotIndex">
          <swiper-item v-for="(item, index) in info" :key="index">
            <view class="swiper-img">
              <image :src="$preview()+item"></image>
            </view>
          </swiper-item>
        </swiper>
      </uni-swiper-dot>
    </view>
    <view class="product-dec">
      <view class="product-dec-left">
        <view class="title">{{serveDetails.name}}</view>
        <view><span class="price">￥{{serveDetails.price}}</span> <span class="Gray mr">/</span> <span
            class="unit">{{serveDetails.specs==1?'个':serveDetails.specs==2?'件':''}}</span></view>
        <view class="Gray">服务2000次</view>
      </view>
      <view>分享</view>
    </view>
    <view class="Protection">
      <uni-list>
        <uni-list-item title="领券" link />
        <uni-list-item title="保障" link>
          <template v-slot:header>
            <view class="slot-box">
              <text class="slot-box slot-texts">保障</text>
            </view>
          </template>
          <template v-slot:body>
            <text class="slot-box slot-text">价格保障-质量保障-纠纷无忧-意外保险</text>
          </template>
        </uni-list-item>
      </uni-list>
    </view>
    <view class="user-info" v-if="list">
      <h5>用户评价</h5>
      <view class="user-info-box">
        <view class="user-info-avatar">
          <image :src="avatar"></image>
        </view>
        <view class="user-info-right">
          <view>{{list.nickName }}</view>
          <view class="time">{{list.createTime}}</view>
          <view class="address" v-if="list.masterName"><span>服务人员：{{list.masterName}}</span></view>
          <view class="dec">{{list.content}}</view>
          <view class="img" v-for="(item,index) in picUrls" :key="index">
            <image :src="$preview()+item"></image>
          </view>
        </view>
      </view>
      <view class="user-info-total" v-if="total>0" @click="all">查看全部评价<span>（{{total}}）</span></view>
    </view>
    <view class="Description" v-html="formatRichImg(serveDetails.content)"> </view>
    <view class="goods-carts">
      <uni-goods-nav :options="options" :fill="true" :button-group="buttonGroup" @click="onClick"
        @buttonClick="buttonClick" />
    </view>
    <uni-popup ref="popup" background-color="#fff" type="bottom" :is-mask-click="false">
      <view class="uesrInfo-box">
        <view class="login">
          <view class="title">获取昵称头像信息</view>
          <button class="avatar-wrapper" open-type="chooseAvatar" @chooseavatar="onChooseAvatar">
            <image class="avatar" :src="userInfo.avatar"></image>
          </button>
          <uni-forms ref="form" label-width='40px'>
            <uni-forms-item label="昵称" name="name">
              <uni-easyinput type="nickname" @blur="getnickname" placeholder="请输入昵称" v-model="userInfo.nickName" />
            </uni-forms-item>
          </uni-forms>
          <button @click="login" class="button-primary" type="primary">去登录</button>
        </view>
      </view>
    </uni-popup>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        info: [],
        modeIndex: -1,
        styleIndex: -1,
        current: 0,
        mode: 'default',
        title: '',
        options: [{
          icon: 'cart',
          text: '购物车',
          info: 0
        }],
        buttonGroup: [{
            text: '加入购物车',
            backgroundColor: 'linear-gradient(90deg, #fff,#fff)',
            color: '#8cde9b',
          },
          {
            text: '直接下单',
            backgroundColor: 'linear-gradient(90deg, #8cde9b,#8cde9b)',
            color: '#fff',
          }
        ],
        id: '',
        serveDetails: {},
        form: {},
        userInfo: {
          avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0',
          nickName: ''
        },
        list: '',
        avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0',
        total: 0,
        picUrls: []
      }
    },
    onShow() {
      uni.$on('refreshData', (val) => {
        this.options[0].info = val
      });
    },
    onLoad(option) {
      if (option) {
        this.title = option.title
        this.id = option.id
        this.commentList(option.id)
      }
    },
    mounted() {
      this.getService()
    },
    methods: {
      getService() {
        this.$http.api.service(this.id).then(res => {
          if (res.data) {
            this.info = res.data.bannerUrl ? res.data.bannerUrl.split(", ") : [],
              this.serveDetails = res.data
          }
        })
      },
      change(e) {
        this.current = e.detail.current
      },
      onClick(e) {
        let token = uni.getStorageSync('userInfo')
        if (!token.token) {
          // uni.navigateTo({
          //   url: '/pages/register/Login'
          // })
          // popup
          this.$refs.popup.open()
        } else {
          uni.showToast({
            title: `点击${e.content.text}`,
            icon: 'none'
          })
          uni.navigateTo({
            url: `/pages/category/shopping?id=${uni.getStorageSync('userInfo').userId}`
          })
        }
      },

      buttonClick(e) {
        //cart
        let token = uni.getStorageSync('userInfo')
        if (!token.token) {
          // uni.navigateTo({
          //   url: '/pages/register/Login'
          // })
          // popup
          this.$refs.popup.open()
        } else {

          if (e.content.text === '直接下单') {
            // uni.navigateTo({

            //   url: `/pages/category/order?id=${this.id}&type=${1}`
            //   // url: '/pages/category/order?key=' + encodeURIComponent(JSON.stringify(this.serveDetails))
            // })
            this.order()
          } else {
            this.options[0].info++
            this.addcart()
          }
        }
      },
      //购物车接口
      addcart() {
        let user
        if (uni.getStorageSync('userInfo')) {
          user = uni.getStorageSync('userInfo')
        }
        this.form = {
          checked: 0,
          serviceId: this.id,
          serviceName: this.serveDetails.name,
          serviceNumber: this.options[0].info,
          servicePrice: this.serveDetails.price,
          userId: user.userId,
        }
        let QueryParams = Object.assign({}, this.form)

        this.$http.api.addCartService(QueryParams).then(res => {})
      },
      formatRichImg(content) {
        let re = /\<img.*?src=\"(.*?)\"/g;
        let img_list = [] //所有图片地址,给后续预览图片使用
        if (content) {
          content = content.replace(re, (match, imgSrc) => {
            let first = imgSrc.indexOf("/") + 1; // 从第一个斜杠算起（+1表示不包括该横杠）
            let kong = imgSrc.indexOf(" ", first); // 第一个斜杠后的第一个空格
            let heng = imgSrc.indexOf("/", first); // 第一个斜杠后的第一个斜杠（即第二个斜杠）
            let two = imgSrc.substring(heng).substring(1, imgSrc.length);
            // 在这里对图片路径进行加工
            let src = this.baseUrl() + '/' + two
            img_list.push(src)
            return '<img class="rich-img" style="width:100%" src="' + src + '"'
          })
          return content
        }
      },
      //直接下单
      order() {
        let QueryParams = Object.assign({}, {
          actualPrice: this.serveDetails.price,
          orderSource: 1,
          userId: uni.getStorageSync('userInfo').userId,
          servicePrice: this.serveDetails.price,
          orderPrice: this.serveDetails.price,
          wxOrderServicesList: [{
            serviceId: this.serveDetails.id,
            serviceName: this.serveDetails.name,
            serviceNumber: 1,
            servicePrice: this.serveDetails.price,
            serviceIconUrl: this.serveDetails.iconUrl,
          }]
        })
        // this.$http.api.order(QueryParams).then(res => {
        //   if (res) {
        //     uni.navigateTo({
        //       url: '/pages/category/order?obj=' + encodeURIComponent(JSON.stringify(res.data))
        //     })
        //   }
        // })
        uni.navigateTo({
          url: '/pages/category/order?obj=' + encodeURIComponent(JSON.stringify(QueryParams))
        })
      },
      getnickname(e) {
        this.userInfo.nickName = e.detail.value;
        uni.setStorage({
          key: 'userInfos',
          data: this.userInfo,
          success: function() {
            console.log('保存数据')
          }
        })
      },
      onChooseAvatar(e) {
        this.userInfo.avatar = e.detail.avatarUrl
      },
      login() {

        if (this.userInfo.nickName) {
          uni.navigateTo({
            url: '/pages/register/Login'
          })
          this.$refs.popup.close()
        } else {
          uni.showToast({
            title: '昵称不能为空',
            icon: 'none',
            duration: 2000
          });
        }
      },
      //查询评价
      commentList(id) {
        this.$http.api.commentList({
          serviceId: id,
          pageNum: 1,
          pageSize: 100,
        }).then(res => {
          if (res && res.rows.length > 0) {
            this.list = res.rows[0]
            var picUrls = this.list.picUrls
            if (picUrls) {
              this.picUrls = picUrls.split(',')
            }
            this.total = res.total
          }
        })
      },
      //查看全部评价
      all() {
        uni.navigateTo({
          url: `/pages/order/evaluateList?id=${this.id}`,
        })
      }
    }
  }
</script>

<style lang="scss">
  .product {
    .swiper {
      .swiper-box {
        height: 400rpx;
      }

      .swiper-img {
        width: 100%;
        height: 400rpx;

        image {
          width: 100%;
          height: 100%;
        }
      }
    }

    .Gray {
      color: #ccc
    }

    .mr {
      margin: 0rpx 10rpx;
    }

    .product-dec {
      background: #fff;
      padding: 20rpx;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .product-dec-left {
        .title {
          font-size: 34rpx;
          font-weight: bold;
        }

        view {
          padding: 10rpx 0rpx;

          .price {
            color: red;
            font-size: 32rpx;
            font-weight: bold;
          }

          .unit {
            font-size: 20rpx;
          }
        }
      }
    }

    .Protection {
      padding: 20rpx 0rpx;
    }

    .slot-box {
      /* #ifndef APP-NVUE */
      display: flex;
      /* #endif */
      flex-direction: row;
      align-items: center;
    }


    .slot-text {
      flex: 1;
      font-size: 24rpx;
      margin-right: 10rpx;
    }

    .slot-texts {
      flex: 1;
      font-size: 28rpx;
      margin-right: 30rpx;
      color: #3b4144
    }

    .Description {
      padding: 15rpx;
      padding-bottom: 120rpx;

      image {
        width: 100%;
        height: 100%;
      }
    }

    .example-body {
      padding: 0;
      /* #ifndef APP-NVUE */
      display: block;
      /* #endif */
    }

    .goods-carts {
      /* #ifndef APP-NVUE */
      display: flex;
      /* #endif */
      flex-direction: column;
      position: fixed;
      left: 0;
      right: 0;
      /* #ifdef H5 */
      left: var(--window-left);
      right: var(--window-right);
      /* #endif */
      bottom: 0;
    }

    // .uni-tab__right {
    //   margin: 5px;
    //   margin-right: 10px;
    //   border-radius: 100rpx;
    //   overflow: visible !important;

    // }
    .uesrInfo-box {
      padding: 20rpx;

      .login {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          padding: 10rpx;
          font-size: 32rpx;
          text-align: left;
        }

        .avatar-wrapper {
          //text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
          // width: 80px;
          // height: 80px;
          width: 60px;
          height: 60px;
          border-radius: 100rpx;

          .avatar {
            width: 60px;
            height: 60px;
            border-radius: 100rpx;
            margin-left: -15px;
          }
        }

        .is-input-border {
          border: none
        }

        .uni-forms-item {
          margin-bottom: 12rpx;
        }

        .uni-forms {
          margin-top: 20rpx;
        }

        .button-primary {
          background: #5FC484;
          border: none;
          width: 100%;
          margin: 50rpx 20rpx;
        }
      }
    }

    .user-info {
      background: #fff;
      padding: 30rpx 20rpx;
      font-size: 32rpx;
      margin-bottom: 10rpx;

      // font-weight: bold;
      .user-info-box {
        border: 1rpx solid #f1f1f1;
        border-radius: 10rpx;
        margin-top: 20rpx;
        display: flex;
        padding: 30rpx 20rpx;
        box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1);

        .user-info-avatar {
          width: 100rpx;
          height: 100rpx;
          margin-right: 30rpx;

          image {
            width: 100%;
            height: 100%;
          }
        }

        .user-info-right {
          //margin-top: 20rpx;
          flex: 1;

          view {
            margin-bottom: 10rpx;
          }

          .time {
            color: #ccc;
            font-size: 24rpx;
          }

          .address {
            color: #ccc;
            font-size: 24rpx;

            span {
              margin-right: 30rpx
            }
          }

          .img {
            width: 100rpx;
            height: 100rpx;
            display: inline-block;
            margin-right: 10rpx;

            image {
              width: 100%;
              height: 100%;
            }
          }

          .dec {
            margin: 25rpx 0rpx;
          }
        }
      }

      .user-info-total {
        padding: 0rpx 20rpx;
        margin-top: 25rpx;
        text-align: center;
        font-size: 24rpx;
        cursor: pointer;
        color: #ccc
      }
    }
  }
</style>