<template>
  <view class="Search-service">
    <view class="search">
      <view class="search-box">
        <uni-easyinput class="uni-mt-5" suffixIcon="search" v-model="value" placeholder="请搜索您需要的服务"
          @iconClick="iconClick"></uni-easyinput>
      </view>
    </view>
    <view class="hot-serve">
      <view class="hot-title">热门服务</view>
      <view class="hot-box">
        <ul>
          <li v-for="(item,index) in serviceList" :key="index" @click="ItemServe(item)">{{item.name}}</li>
        </ul>
      </view>
    </view>
    <!-- <view class="search-list">
      <uni-list class="info-center">
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon1" title="我的地址" link></uni-list-item>
      </uni-list>
    </view> -->
  </view>
</template>

<script>
  export default {
    data() {
      return {
        serviceList: [],
        value: ''
      }
    },
    onLoad() {
      this.getInfo()

    },
    onShow() {
      this.value = ''
    },
    methods: {
      getInfo() {
        this.$http.api.homeInfo({
          serviceName: "",
        }).then(res => {
          if (res.data) {
            this.serviceList = res.data.categoryTwoList
            //this.categoryList = res.data.categoryTwoList
          }
        })
      },
      serviceListInfo() {
        this.$http.api.serviceList({
          serviceName: "",
        }).then(res => {
          if (res.data) {
            this.serviceList = res.data.categoryTwoList
            //this.categoryList = res.data.categoryTwoList
          }
        })

      },
      ItemServe(item) {
        uni.navigateTo({
          url: `/pages/category/serve?name=${item.name}&id=${item.id}`
        })
        uni.setNavigationBarTitle({
          title: item.name
        })
      },
      iconClick() {
        console.log(this.value, 'OOOO')
        uni.navigateTo({
          url: `/pages/category/serve?name=${this.value}&type=${1}`
        })
      }
    }
  }
</script>

<style lang="scss">
  .Search-service {
    position: relative;

    .search {
      padding: 10rpx 0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #F5F5F5;
      z-index: 10;

      .search-box {
        padding: 10rpx 25rpx;
      }

      .is-input-border {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        border: 1px solid #11C7A2 !important;
        background: #F7FFFD !important;
        border-radius: 19px !important;
      }

      .content-clear-icon {
        padding: 0 15px !important;
        color: #49e7d3 !important;
      }
    }

    .hot-serve {
      padding: 20rpx;
      margin-top: 100rpx;
      margin-left: 10rpx;

      .hot-title {
        margin-left: 10rpx;
      }

      .hot-box {
        margin-top: 15rpx;

        ul {
          li {
            background: #ececec;
            color: #333;
            padding: 15rpx 20rpx;
            display: inline-block;
            border-radius: 5rpx;
            margin: 15rpx 10rpx;
          }
        }
      }
    }

    .search-list {
      position: absolute;
      width: 100%;
      top: 0px
    }
  }
</style>