<template>
  <view class="serve">

    <view class="search" v-if="type!=1">
      <view class="search-box" @click="SearchItem">
        <uni-easyinput class="uni-mt-5" suffixIcon="search" v-model="value" placeholder="请搜索您需要的服务"></uni-easyinput>
      </view>
    </view>
    <view v-else>
      <view class="search-imge">
        <!-- <image src="../../static/benner2.png"></image> -->
      </view>
    </view>
    <div class="card-serve-item" :style="type!= 1? 'margin-top:70px':'margin-top:0px'">
      <uni-row class="demo-uni-row" v-for="(item,index) in commodityList" :key="index">
        <!-- <view class="title">{{item.name}}
    </view> -->
        <uni-section :title="item.name" type="line">
          <uni-col :span="8" v-for="(items,indexs) in item.serviceList" :key="indexs">
            <div class="card-box" @click="serviceItem(items)">
              <div class="item-img">
                <image :src="$preview()+items.iconUrl"></image>
              </div>
              <div class="describe">
                <div>{{items.name}}</div>

              </div>
            </div>
          </uni-col>
        </uni-section>
      </uni-row>
    </div>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        windowHeight: null,
        searchStyle: {
          backgroundColor: '#f7f5f6'
        },

        commodityClassify: [],
        commodityList: [],
        selectClass: 0,
        lineNum: null,
        cal: null,
        clickId: '',
        clickToId: '',
        currentNum: 0,
        topList: [],
        isLeftClick: false,
        timer: null,
        myScrollTop: '',
        old: {
          scrollTop: 0,
          scrollTop2: ''
        },
        touchHeight: '',
        biggerThan: false,
        scroll2Index: '',
        categoryId: null,
        type: ''
      }
    },
    onLoad(option) {
      console.log(option, 'option')
      this.type = option.type
      if (option.type == 1) {
        this.serviceInfo(option)
      } else {
        this.getServiceList(option)
      }


    },
    mounted() {},
    methods: {
      //服务列表
      getServiceList(categoryId) {
        this.$http.api.TreeListByCategoryId({
          categoryId: categoryId.id,
        }).then(res => {
          if (res.data) {
            this.commodityList = res.data
          }

        })
      },
      //根据name查服务
      serviceInfo(option) {
        this.$http.api.serviceInfo({
          name: option.name,
        }).then(res => {
          if (res.data) {
            this.commodityList = res.data
          }

        })
      },
      serviceItem(item) {
        uni.navigateTo({
          url: `/pages/category/productdetails?id=${item.id}&title=${item.name}`
        })
      },

      SearchItem() {
        uni.navigateTo({
          url: "/pages/category/SearchService"
        })
      },



    }
  }
</script>

<style lang="scss">
  .serve {
    background: #fff;


    .search {
      padding: 10rpx 0px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #F5F5F5;
      z-index: 10;

      .search-box {
        padding: 10rpx 25rpx;
      }

      .is-input-border {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        border: 1px solid #11C7A2 !important;
        background: #F7FFFD !important;
        border-radius: 19px !important;
      }

      .content-clear-icon {
        padding: 0 15px !important;
        color: #49e7d3 !important;
      }
    }

    .search-imge {
      width: 100%;
      height: 210rpx;

      image {
        width: 100%;
        height: 100%;
      }
    }

    .card-serve-item {

      padding: 10rpx;

      .title {
        color: #42c2a4;
        font-size: 32rpx;
        margin: 10rpx 0rpx;
      }

      .uni-section {
        .uni-section-header__decoration {
          margin-right: 6px;
          background-color: #42c2a4;
        }
      }

      .card-box {
        margin: 0px 3px;
        //border: 1px solid #e8e6e6;
        border-radius: 5px;
        padding: 10px;
        background: #fff;
        margin-bottom: 5px;
      }

      .item-img {
        width: 100px;
        height: 100px;
        margin: 0 auto;


        image {
          width: 100%;
          height: 100%;
          text-align: center;
        }
      }

      .describe {
        div {
          padding: 6px 0px;
          text-align: center;
        }

        .serve {
          text-align: right;
          font-size: 20rpx;
          color: #ccc;

          span {
            color: #333
          }
        }
      }
    }

  }
</style>