<template>
  <view class='shopping'>
    <uni-notice-bar single text="温馨提示:已根据师傅技能专长,自动分开下单." />
    <view class="shopping-box" v-if="list.length>0">
      <!--     <label class="radio">
        <radio value="data" style="transform:scale(0.7)" activeBackgroundColor="#07c160" />家电清洁
      </label> -->


      <view class="shopping-contan" v-for="(item,index) in list" :key="item.id">
        <view class="shopping-flex">
          <view class="one">
            <!-- <radio value="data" style="transform:scale(0.7)" activeBackgroundColor="#07c160" /> -->
            <checkbox-group @change="changeitem(item)" checked class="checkbox">
              <checkbox :value="item.servicePrice" :checked="item.checked" />
            </checkbox-group>
          </view>
          <view class="shopping-img">
            <image :src="$preview()+item.serviceIconUrl"></image>
          </view>
          <view class="three">
            <view>{{item.serviceName}}</view>
            <view class="check-box"><span class="check">已选：{{item.serviceName}}</span></view>
            <view class="price">
              <view>￥{{item.servicePrice}}/台</view>
              <view><uni-number-box v-model="item.serviceNumber" @blur="blur" @focus="focus"
                  @change="changeValue($event,item)" />
              </view>
            </view>
          </view>
        </view>
        <!--    <view class="shopping-total">
              <view class="total">
                合计：<span v-if="item.checked == true&&item.id ">￥{{totalPrice}}</span></view>
              <view class="total">
                <button class="button-primary" type="primary" :disabled="isDisabled" @click="orderback">去下单</button>
              </view>
            </view> -->
      </view>
      <view class="shopping-total">
        <view class="total">
          合计：<span>￥{{totalPrice}}</span></view>
        <view class="total">
          <button :class="totalNumber==true?'button-default':'button-primary'" type="primary" @click="orderback"
            :disabled="totalNumber">去下单</button>

        </view>
      </view>
    </view>
    <view v-else>
      <o-empty />
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        data: '',
        vModelValue: '',
        list: [],
        options2: [{
          text: '删除',
          style: {
            backgroundColor: '#dd524d'
          }
        }],
        isDisabled: true,
        form: {},
        wxOrderServicesList: [],
        option: ''
      }
    },
    computed: {
      totalNumber() {
        let isDisabled = true
        this.list.some(item => {
          if (item.checked == true) {
            isDisabled = false
          }
        })
        return isDisabled
      },
      totalPrice() {
        let totalPrice = 0
        this.list.map(item => {
          item.checked ? totalPrice += item.serviceNumber * item.servicePrice : totalPrice
        })
        return totalPrice.toFixed(2); // 保留两位小数（否则会价格会出现多位小数）
      }
    },

    onLoad(option) {
      this.cartDetails(option.id)
    },
    mounted() {
      // 确保组件已挂载
      // this.$nextTick(() => {
      //   // 使用this.$refs访问组件实例
      //   if (this.$refs.swipeAction) {
      //     this.$refs.swipeAction.closeAll();
      //   }
      // });
    },
    methods: {
      changeValue(value, item) {
        if (value < 1) {
          let that = this
          uni.showModal({
            title: '提示',
            content: '是否需要删除服务',
            success: function(res) {
              if (res.confirm) {
                that.deleteCar(item)
              } else if (res.cancel) {
                item.serviceNumber = 1
                // that.deleteCar(item)
              }
            }
          });
        } else {
          item.serviceNumber = value
          this.editServe(value, item)
        }

      },

      cartDetails(id) {
        this.$http.api.cartList(id).then(res => {
          if (res) {
            this.form.userId = res.data.userId
            if (res.data.wxCartServiceList) {
              res.data.wxCartServiceList.forEach(item => {
                item.checked = false
              })
              this.list = res.data.wxCartServiceList
              uni.$emit('refreshData', this.list.length);
            } else {
              this.list = []
              uni.$emit('refreshData', 0);
            }

          }
        })
      },
      bindClick(e, item) {
        this.deleteCar(item)
      },
      //编辑购物车服务
      editServe(val, item) {
        let data = {
          cartId: item.cartId,
          id: item.id,
          serviceName: item.serviceName,
          servicePrice: item.servicePrice,
          serviceId: item.serviceId,
          serviceNumber: item.serviceNumber,
          userId: this.form.userId
        }
        this.$http.api.editCartService(data).then(res => {
          if (res) {
            // this.cartDetails(this.form.userId)
          }
        })
      },
      //删除购物车服务
      deleteCar(item) {
        this.$http.api.deleteCart(item.id).then(res => {
          if (res) {
            this.cartDetails(this.form.userId)
          }
        })
      },
      //单选
      changeitem(item) {
        item.checked = !item.checked
      },
      orderback() {
        this.wxOrderServicesList = this.list.filter(item => item.checked);
        // this.wxOrderServicesList.find(res => {
        //   if (res.checked == true) {
        //     res.checked = 1
        //     delete res.id
        //   }
        // })

        let QueryParams = Object.assign({}, {
          actualPrice: this.totalPrice,
          orderSource: 1,
          userId: uni.getStorageSync('userInfo').userId,
          servicePrice: this.totalPrice,
          orderPrice: this.totalPrice,
          wxOrderServicesList: this.wxOrderServicesList
        })

        // this.$http.api.order(QueryParams).then(res => {
        //   if (res) {
        //     console.log(res.data, ".data.data.data")
        //     uni.navigateTo({
        //       url: '/pages/category/order?obj=' + encodeURIComponent(JSON.stringify(res.data))
        //     })
        //   }
        // })
        uni.navigateTo({
          url: '/pages/category/order?obj=' + encodeURIComponent(JSON.stringify(QueryParams))
        })
      },
    }
  }
</script>

<style lang="scss">
  .shopping {
    .shopping-box {
      padding: 15rpx;
      background: #fff;
      margin: 0rpx 15rpx;

      .shopping-contan {
        background: #fff;
        border-radius: 10rpx;
        padding: 20rpx;

        //margin-bottom: 10px;
        .shopping-flex {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 15rpx 0rpx;
          align-items: center;

          .one {
            flex: 0.3;
          }

          .shopping-img {
            width: 100rpx;
            height: 100rpx;
            flex: 1;

            image {
              width: 100%;
              height: 100%;
            }
          }

          .three {
            flex: 2;

            .check-box {
              margin: 10rpx 0rpx
            }

            .check {
              background: #f1f1f1;
              border-radius: 3rpx;
              padding: 5rpx;
              margin: 10rpx 5rpx;
              font-size: 20rpx;
            }

            .price {
              margin-top: 40rpx;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }

      .shopping-total {
        border-top: 1rpx solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20rpx;

        .total {
          margin-top: 30rpx;

          span {
            color: red
          }
        }

        .button-primary {
          background: #5FC484;
          border-radius: 25rpx;
          color: #fff;
          height: 60rpx;
          line-height: 60rpx;
          width: 200rpx;
        }

        .button-default {
          background: #c1f3c0;
          border-radius: 25rpx;
          color: #fff;
          height: 60rpx;
          line-height: 60rpx;
          width: 200rpx;
        }
      }
    }

    checkbox-group {

      // 多选框外框样式
      checkbox .wx-checkbox-input {
        width: 35rpx;
        height: 35rpx;
        border-radius: 50%;
      }

      // 选中后外框样式
      checkbox .wx-checkbox-input.wx-checkbox-input-checked {
        border-color: #5FC484;
      }

      // 内部样式
      checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
        width: 60%;
        height: 60%;
        background: #5FC484;
        border-radius: 100%;
        content: '';
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
      }

      checkbox {
        margin-left: 20rpx;
        margin-bottom: 30rpx;
      }
    }
  }
</style>