<template>
  <view class="my-address" v-if="list.length<1">
    <view class="address-bunt">
      <view class="address-empty">
        <o-empty />
      </view>
      <button class="button-primary" type="primary" :disabled="isDisabled" @click="addressback"><uni-icons
          color="#5FC484" type="plusempty" size="20"></uni-icons>新增地址</button>
    </view>
  </view>
  <view v-else class="add-address">
    <view class="address-box" v-for="(item,index) in list" :key="index">
      <view class="address-box-left" @tap="getStorage(item)">
        <view>
          <span class="Default"
            v-if="item.isDefault==1">默认</span>{{item.city}}<!-- {{item.provinceName}}-{{item.cityName}}-{{item.areaName}} -->
        </view>
        <view class="address-detaile">{{item.address}}</view>
        <view class="address-name">{{item.name}} {{item.mobile}}</view>
      </view>
      <view class="address-box-right"> <uni-icons type="compose" size="24" color="#5FC484"
          @click="Edit(item)"></uni-icons></view>
    </view>
    <view class="footer-bnt">

      <button class="button-primary" type="primary" :disabled="isDisabled" @click="addressback"><uni-icons
          color="#5FC484" type="plusempty" size="20"></uni-icons>新增地址</button>

    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        list: [],
        type: ''
      }
    },
    onLoad(option) {
      this.type = option.type
      this.addressList()
      uni.$on('refreshData', () => {
        this.addressList()
      })
    },
    mounted() {},
    methods: {
      addressback() {

        uni.navigateTo({
          url: '/pages/info/newaddress'
        })
      },
      addressList() {
        let userInfo = uni.getStorageSync('userInfo')
        this.$http.api.addressList({
          pageNum: 1,
          pageSize: 10,
          userId: userInfo.userId
        }).then(res => {
          if (res) {
            this.list = res.rows
            if (this.list.length < 1) {
              uni.removeStorageSync('City_address');
            }
          }
        })
      },
      Edit(item) {
        uni.navigateTo({
          url: `/pages/info/newaddress?id=${item.id}`
        })
      },
      getStorage(Name) {
        if (this.type != 1) {
          let pages = getCurrentPages(); // 当前页面
          let beforePage = pages[pages.length - 2]; // 上一页
          uni.setStorage({
            key: 'City_address',
            data: Name
          })
          //跳转返回
          uni.navigateBack({
            success: function() {
              beforePage.$vm.address = Name // 将当前页选择的值传给上一页的
            }
          });
        }
      },
    }
  }
</script>


<style lang="scss">
  .my-address {
    text-align: center;
    //height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-bottom: 30rpx;

    .address-bunt {
      width: 80%;

      .address-empty {
        width: 100%;
        // margin-top: -350rpx;
      }

      button {
        background: none;
        border: 1px solid #5FC484;
        color: #5FC484;
        border-radius: 15rpx;
      }
    }

  }

  .add-address {
    .address-box {
      padding: 20rpx;
      margin: 15rpx 0rpx;
      background: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .Default {
      border: 1px solid #fbac37;
      color: #fbac37;
      border-radius: 5rpx;
      font-size: 20rpx;
      font-weight: bold;
      vertical-align: middle;
      margin-right: 15rpx;
      padding: 3rpx 8rpx;
    }

    .address-box-left {
      flex: 3;

      view {
        padding: 8rpx 0rpx;
      }

      .address-detaile {
        font-weight: bold;
      }

      .address-name {
        color: #aba9a9
      }
    }

    .address-box-right {
      flex: 0.2;
    }

    .footer-bnt {
      position: fixed;
      width: 100%;
      bottom: 0rpx;
      background: #FFF;

      button {
        background: none;
        border: 1px solid #5FC484;
        color: #5FC484;
        border-radius: 63rpx;
        margin-bottom: 20rpx;
        margin-top: 10px;
        width: 90%;
      }
    }
  }
</style>