<template>
  <view class="my-feedback">
    <scroll-view :scroll-x="true">
      <view class="content">
        <view class="box">
          <view v-for="(item, index)  in titleList" class="title" :class="{'title1':isChange==index}" :key="index"
            @click="titleTap(index)">
            {{item}}
          </view>
        </view>
      </view>
    </scroll-view>
    <feedback-add v-if="isChange==0"></feedback-add>
    <feedback-list v-if="isChange==1"></feedback-list>

  </view>
</template>

<script>
  import feedbackAdd from './components/feedbackAdd.vue'
  import feedbackList from './components/feedbackList.vue'
  export default {
    components: {
      feedbackAdd,
      feedbackList
    },
    data() {
      return {
        titleList: ['反馈问题', '我的反馈'],
        isChange: '0'
      }
    },
    onShow() {},
    onLoad() {

    },
    methods: {
      titleTap(index) {
        console.log(index, 'index')
        if (index != this.isChange) {
          this.isChange = index;

        }
      },

    }
  }
</script>

<style lang="scss">
  .my-feedback {
    .scroll-view {
      white-space: nowrap;
      /* position: fixed; */
    }

    .content {
      //width: 115%;
      width: 100%;
      background-color: #fff;
    }

    .content .box {
      height: 80rpx;
      line-height: 70rpx;
      display: flex;
      justify-content: space-around;
    }

    .content .title {
      font-family: 'PingFang-SC-Medium';
      font-size: 26rpx;
      color: #000;
    }

    .content .title1 {
      height: 73rpx;
      font-family: 'PingFang-SC-Bold';
      font-size: 30rpx;
      color: #8cde9b;
      border-bottom: 5rpx solid #8cde9b;
    }
  }
</style>