<template>
  <view class="uni-container-info">
    <div class="info-top">
      <div class="header-avatar-box">
        <div class="header-avatar">
          <image :src="userInfo.avatar"></image>
        </div>
        <div class="header-butn" :style="userInfo.phone?'margin-left:15px;margin-top:0rpx':''">
          <button class="is-hover" v-if="!userInfo.phone" @click="OnLogin">立即登录</button>
          <view v-else class="userInfo">
            <view>{{userInfo.nickName}}</view>
            <view>{{$hiddenPhone(userInfo.phone)}}</view>
          </view>
        </div>
      </div>
    </div>
    <div class="info-serve-box">
      <div class="info-serve">
        <div class="info-serve-contant">
          <div class="info-serve-item">
            <image src="../../static/card.png"></image>
            <div>优惠券</div>
          </div>
          <div class="info-serve-item">
            <image src="../../static/card.png"></image>
            <div>服务卡</div>
          </div>
          <div class="info-serve-item">
            <image src="../../static/card.png"></image>
            <div>我的钱包</div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-box">
      <uni-list class="info-center">
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon1" title="我的地址" to="" link
          @click="onClick(1)"></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon2" title="安全中心" link
          @click="onClick(2)"></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon3" title="建议反馈" to=""
          @click="onClick(3)"></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon4" title="客服中心" to=""
          @click="onClick(4)"></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon5" title="设置" link
          @click="onClick(5)"></uni-list-item>
      </uni-list>
    </div>
    <div class="info-box mp">
      <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon6" title="我是商家" link rightText="查看商家专属版本"
        @click="onClick(7)">
      </uni-list-item>
    </div>
    <div class="info-box mp">
      <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon7" title="师傅店铺" link @click="onClick(6)"
        rightText="收藏服务"></uni-list-item>
    </div>
    <tabbar :current='userInfo&&userInfo.masterId>0?1:3'></tabbar>
  </view>
</template>
<script>
  import tabbar from "@/components/tabbar/index.vue";
  export default {
    props: {
      hasLeftWin: {
        type: Boolean
      },
      leftWinActive: {
        type: String
      }
    },
    components: {
      tabbar
    },
    data() {
      return {
        extraIcon1: {
          color: '#000',
          size: 14,
          type: 'location-filled'
        },
        extraIcon2: {
          color: '#000',
          size: 14,
          type: 'locked'
        },
        extraIcon3: {
          color: '#000',
          size: 14,
          type: 'compose'
        },
        extraIcon7: {
          color: '#000',
          size: 14,
          type: 'starhalf'
        },
        extraIcon4: {
          color: '#000',
          size: 14,
          type: 'phone'
        },
        extraIcon5: {
          color: '#000',
          size: 14,
          type: 'gear'
        },
        extraIcon6: {
          color: '#000',
          size: 14,
          type: 'shop-filled'
        },
        userInfo: {
          avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0'
        }
      };
    },
    onShow() {
      // console.log(1111, uni.getStorageSync('userInfo'))
      if (uni.getStorageSync('userInfo')) {
        this.userInfo = uni.getStorageSync('userInfo')
      } else {
        this.userInfo.nickName = ''
        this.userInfo.phone = ''
        this.userInfo.avatar =
          'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0'
        this.userInfo.masterId = ''
        this.userInfo.openId = ''
        this.userInfo.userId = ''
      }
      //this.refreshPage()
    },
    onLoad() {

    },
    methods: {

      OnLogin() {
        uni.navigateTo({
          url: '/pages/register/Login', // 跳转到对应路径的页面
        });
      },
      onClick(index) {
        if (this.userInfo && this.userInfo.openId) {
          if (index == 1) {
            uni.navigateTo({
              url: `/pages/info/address?type=${1}`
            })
          } else if (index == 2) {
            uni.navigateTo({
              url: `/pages/info/security`
            })
          } else if (index == 3) {
            uni.navigateTo({
              url: `/pages/info/feedback`
            })
          } else if (index == 4) {
            uni.navigateTo({
              url: `/pages/info/servicecenter`
            })
          } else if (index == 5) {
            uni.navigateTo({
              url: '/pages/info/set'
            })
          } else if (index == 6) {
            if (this.userInfo.masterId > 0) {
              uni.switchTab({
                url: '/pages/master/index',
                success: function(e) {
                  var page = getCurrentPages()[0];
                  if (page == undefined || page == null) return;
                  page.onLoad();
                }
              })
              uni.$emit('refreshData1');
            }
          } else if (index == 7) {
            let url = "http://api.zzzhuoya.com:3100/"
            uni.navigateTo({
              url: `/pages/webview/webview?url=${url}`
            })
          }

        } else {
          uni.navigateTo({
            url: '/pages/register/Login', // 跳转到对应路径的页面
          });
        }

      }
    }
  }
</script>

<style lang="scss">
  .uni-container-info {
    height: 100%;

    .info-top {
      //background-image: url('../../../static/integral-bg.png');
      background-color: #8cde9b;
      height: 380rpx;
      width: 100%;
      padding: 0px 35rpx;

      .header-avatar-box {
        display: flex;
        flex-direction: row;
        padding-top: 40px;

        .header-avatar {
          text-align: center;

          image {
            width: 120rpx;
            height: 120rpx;
            border: 1px solid #fff;
            margin-top: -5px;
            border-radius: 100%;
          }
        }

        .header-butn {
          margin-top: 5rpx;
          margin-left: 45px;
        }

        .is-hover {
          background: rgba(0, 0, 0, 0.15);
          width: 320rpx;
          height: 90rpx;
          line-height: 90rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
        }

        .userInfo {
          color: #fff;
          font-size: 30rpx;

          view:last-child {
            margin-top: 20rpx;
          }
        }
      }
    }

    .info-box {
      padding: 0 35rpx;
      margin-top: 55px;
    }

    .info-serve-box {
      position: relative;
      margin: 0rpx 35rpx;

      .info-serve {
        height: 220rpx;
        border-radius: 7px;
        position: absolute;
        z-index: 1;
        margin-top: -135rpx;
        background: #fff;
        width: 100%;

        //margin: 0rpx 35rpx;
        .info-serve-contant {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-align: center;

          .info-serve-item {
            flex: 1;
            margin: 0 auto;

            image {
              width: 100rpx;
              height: 100rpx;
              margin: 25rpx 0px 0rpx;
            }
          }
        }
      }
    }

    .uni-list {
      border-radius: 7px !important;

      .uni-list-item {
        background: none !important;
        border-radius: 7px !important;
      }
    }

    .mp {
      margin-top: 15px;

      .box-bg {
        .uni-navbar__header {
          border-radius: 7px !important;
        }
      }
    }

    button:after {
      content: " ";
      border: none !important;
    }
  }
</style>