<template>
  <view class="add-address">
    <uni-notice-bar text="个人信息仅发布需求,隐私信息完全保密" />
    <view class="address-contan">
      <uni-forms :modelValue="formData" ref="form" label-width="80px" validate-trigger="bind">
        <uni-forms-item label="所在地区" name="city">
          <uni-data-picker :localdata="areaDate" popup-title="请选择地区" v-model="city" :show="showPicker"
            @change="bindPickerChange" :map="{text:'name',value:'id'}"
            style="width: 80%;display: inline-block;height: 40px;line-height: 40px;" defaultIds='city'
            v-if="!showHide"></uni-data-picker>
          <div type='text' style="width: 80%;display: inline-block; height: 34px;line-height: 34px;" v-else
            @click="onchenge">
            {{formData.city}}
          </div>
          <span class="location-ico" @click="location"><uni-icons type="location-filled" color="#11C7A2"
              size="15"></uni-icons>定位</span>
        </uni-forms-item>
        <uni-forms-item label="详细地址" name="address">
          <input type="text" v-model="formData.address" placeholder="请输入街道·门牌号等" />
        </uni-forms-item>
        <uni-forms-item label="联系人" name="name">
          <input type="text" v-model="formData.name" placeholder="请输入联系人" />
        </uni-forms-item>

        <uni-forms-item label="手机号码" name="mobile">
          <input type="number" v-model="formData.mobile" maxlength="11" placeholder="请输入手机号" />
          <!-- <uni-easyinput v-model="formData.mobile" placeholder="请输入手机号" /> -->
        </uni-forms-item>
        <uni-forms-item label="设置为默认地址" name="isDefault" label-width="120px">
          <switch :checked="isDefault" @change="handleSwitchChange" style="float: right;" />
        </uni-forms-item>
      </uni-forms>

    </view>
    <view class="submit">
      <button @click="submitForm">保存 </button>
    </view>
    <view class="submit" v-if="show">
      <button @click="Delete" id='button'>删除 </button>
    </view>
  </view>
</template>

<script>
  import QQMapWX from '../../common/qqmap-wx-jssdk.js'
  export default {
    data() {
      let iphoneReg = /^(13[0-9]|14[1579]|15[0-3,5-9]|16[6]|17[0123456789]|18[0-9]|19[89])\d{8}$/
      return {
        formData: {
          name: "",
          city: '',
          address: "",
          mobile: '',
          isDefault: 0,
          userId: ''
        },
        isDefault: false,
        areaDate: [],
        city: [],
        show: false,
        showHide: false,
        showPicker: false, // 控制弹框是否显示
        rules: {
          city: {
            rules: [{
              required: true,
              errorMessage: '所在区域不能为空'
            }]
          },
          address: {
            rules: [{
              required: true,
              errorMessage: '详细地址不能为空'
            }]
          },
          name: {
            rules: [{
              required: true,
              errorMessage: '联系人不能为空'
            }]
          },
          mobile: {
            rules: [{
                required: true,
                errorMessage: '手机号不能为空',
              }, {
                validateFunction: (rule, value, data, callback) => {
                  // 异步需要返回 Promise 对象
                  return new Promise((resolve, reject) => {
                    setTimeout(() => {
                      if (!iphoneReg.test(value) && value !== '') {
                        reject(new Error('请输入正确手机号'))
                      } else {
                        resolve()
                      }
                    }, 100)
                  })
                }
              }

            ]
          },
        },
      }
    },
    onReady() {
      // this.$refs.form.setRules(this.rules)
    },
    onLoad(option) {
      this.region()
      if (option && option.id) {
        this.addressdetaile(option.id)
      }
      // #ifdef MP
      this.$nextTick(() => {
        this.$refs.form.setRules(this.rules);
      });
      // #endif
    },
    methods: {
      //区域下拉框
      region() {
        this.$http.api.region().then(res => {
          if (res) {
            this.areaDate = res.data
          }
        })
      },
      //新增地址
      address() {
        let userInfo = uni.getStorageSync('userInfo')
        this.formData.userId = userInfo.userId
        this.$http.api.address(this.formData).then(res => {
          if (res) {
            uni.navigateBack({
              delta: 1,
            });
            uni.$emit('refreshData');
          }
        })
      },
      addressEdit() {
        let userInfo = uni.getStorageSync('userInfo')
        this.formData.userId = userInfo.userId
        this.$http.api.addressEdit(this.formData, {
          userId: this.formData.userId
        }).then(res => {
          if (res) {
            //uni.navigateBack()
            uni.navigateBack({
              delta: 1,
            });
            uni.$emit('refreshData');
            //uni.navigateBack()
          }
        })
      },
      //地址详情接口
      addressdetaile(id) {
        this.$http.api.addressdetaile(id).then(res => {
          if (res) {
            this.formData.name = res.data.name
            this.formData.address = res.data.address
            this.formData.mobile = res.data.mobile
            this.formData.provinceId = res.data.provinceId
            this.formData.cityId = res.data.cityId
            this.formData.areaId = res.data.areaId
            this.formData.id = res.data.id
            this.formData.isDefault = res.data.isDefault
            if (res.data.city) {
              this.showHide = true
              this.formData.city = res.data.city
            } else {
              this.city = [Number(res.data.provinceId), Number(res.data.cityId), Number(res.data.areaId)]
            }
            if (this.formData.isDefault == 1) {
              this.isDefault = true
            } else {
              this.isDefault = false
            }
            this.show = true
          }
        })
      },
      //删除地址
      Delete() {
        let that = this
        uni.showModal({
          title: '提示',
          content: '您确认要删除这个地址吗？',
          success: function(res) {
            if (res.confirm) {
              that.addressDelete()
            }
          }
        });
      },
      addressDelete() {
        this.$http.api.addressDelete(this.formData.id).then(res => {
          uni.navigateTo({
            url: '/pages/info/address'
          })
        })

      },
      submitForm() {
        // / this.address()
        this.$refs.form
          .validate()
          .then(() => {
            if (this.formData.id) {
              this.addressEdit()
              //this.getStorage(this.formData.address)
            } else {
              this.address()
              // this.getStorage(this.formData.address)
            }
          }).catch((err) => {
            console.log('表单校验失败：', err)
          })

        // 
      },
      location() {
        this.getData()
        this.showHide = true
      },
      onchenge() {
        //this.$refs.data.show()
        this.formData.city = ''
        this.showPicker = true;
        this.showHide = false
      },
      //定位选择城市
      getData() {
        // const tMap = new QQMapWX({
        //   key: "TG2BZ-L6GWG-FCBQX-QBXJQ-AIA53-J6B2P", //开发者密钥
        // });
        var _this = this;
        wx.chooseLocation({
          success: function(res) {
            var name = res.name
            var address = res.address
            var latitude = res.latitude
            var longitude = res.longitude
            // tMap.reverseGeocoder({
            //   location: {
            //     latitude: latitude,
            //     longitude: longitude,
            //   },
            //   success: function(res) {
            //     console.log(res, 'resresresresresresres')
            //     // that.address = res.result.address_component.city
            //     // uni.setStorage({
            //     //   key: 'City_Name',
            //     //   data: that.address
            //     // })
            //     var district = res.result.address_component.district
            //     var city = res.result.address_component.city
            //     // ad_info: {nation_code: "156", adcode: "410105", phone_area_code: "0371", city_code: "156410100", name: "中国,河南省,郑州市,金水区", …}
            //     // address: "河南省郑州市金水区东风路16号"
            //     // address_component:
            //     // city: "郑州市"
            //     // district: "金水区
            //    // _this.findIdByName(district, _this.areaDate, city)
            //   },
            //   fail: function(res) {

            //   },
            // });
          },
          complete(r) {
            // 点击确定完成以后-进入对应的页面
            _this.formData.city = r.name
            _this.formData.address = r.address

          }
        })

      },
      // findIdByName(name, tree) {
      //   for (let node of tree) {
      //     if (node.name === name) {
      //       console.log(node.id, 'node.id')
      //       return node.id;
      //     }
      //     if (node.children) {
      //       const foundId = this.findIdByName(name, node.children);
      //       if (foundId) {
      //         console.log(foundId, 'foundId')
      //         let arr = []
      //         this.findParent(tree, foundId, arr)
      //         console.log(this.findParent(tree, foundId, arr), '***')
      //         return foundId;
      //       }
      //     }
      //   }
      //   return null;
      // },
      // findParent(list, id, arr) {
      //   for (let item of list) {
      //     if (item.id === id) {
      //       arr.push(item.id) //要id就push item.id, 要对象就push item
      //       return true
      //     }
      //     if (item.children && item.children.length > 0) {
      //       let isFind = this.findParent(item.children, id, arr)
      //       if (isFind) {
      //         arr.push(item.id) //要id就push item.id, 要对象就push item
      //         return true
      //       }
      //     }
      //   }
      //   return false
      // },
      bindPickerChange(e) {
        this.formData.provinceId = e.detail.value[0].value
        this.formData.provinceName = e.detail.value[0].text
        this.formData.cityId = e.detail.value[1].value
        this.formData.cityName = e.detail.value[1].text
        this.formData.areaId = e.detail.value[2].value
        this.formData.areaName = e.detail.value[2].text
        this.formData.city = this.formData.provinceName + this.formData.cityName + this.formData.areaName
      },
      getStorage(Name) {
        let pages = getCurrentPages(); // 当前页面
        let beforePage = pages[pages.length - 2]; // 上一页
        uni.setStorage({
          key: 'address',
          data: Name
        })
        //跳转返回
        uni.navigateBack({
          success: function() {
            beforePage.$vm.address = Name // 将当前页选择的值传给上一页的
          }
        });
      },
      handleSwitchChange(event) {
        //formData.isDefault
        this.isChecked = event.detail.value;
        // 这里可以执行其他逻辑，比如保存开关状态到服务器等
        if (event.detail.value == true) {
          this.formData.isDefault = 1
        } else {
          this.formData.isDefault = 0
        }
        console.log(event, event.detail.value == true, this.formData.isDefault, 'event')
      }

    }
  }
</script>

<style lang="scss">
  .add-address {
    .address-contan {
      background: #fff;
      padding: 10rpx 25rpx;

      input {
        cursor: auto;
        display: inline-block;
        font-family: UICTFontTextStyleBody;
        height: 2.4rem;
        min-height: 2.4rem;
        overflow: hidden;
        // text-overflow: clip;
        // white-space: nowrap;
        vertical-align: middle;
        width: 100%;
      }

      .location-ico {
        color: #11C7A2
      }
    }

    .uni-data-tree {
      width: 80%;
      display: inline-block;

      .input-value {
        padding: 0rpx;
      }

      .input-value-border {
        border: none;

        .arrow-area {
          display: none;
        }
      }
    }

    .submit {
      width: 90%;
      padding: 20rpx;
      margin-top: 20rpx;

      button {
        background: #5FC484;
        color: #fff;
        border-radius: 55rpx;
      }
    }

    #button {
      background: none;
      border: 1px solid #5FC484;
      color: #5FC484;
      border-radius: 55rpx;
    }

    // uni-data-picker 的readonly设置后，有的数据赋值不上，估用样式处理
    .uni-data-tree.disabled {
      .text-color {
        color: #999 !important;
      }

      .uni-data-tree-input {
        pointer-events: none;
      }

      .uniui-clear {
        display: none;
      }
    }
  }
</style>sss