<template>
  <view class="set-center">
    <view class="setmp">
      <uni-list class="info-center">
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon1" title="更换手机号" link to=""></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon2" title="注销账号" link></uni-list-item>
      </uni-list>
    </view>
    <view class="setmp">
      <uni-list class="info-center">
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon3" title="关于乐家帮" link to=""></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon4" title="服务协议" link
          to="/pages/agreement/index"></uni-list-item>
      </uni-list>
    </view>
    <view class="setmp">
      <uni-list class="info-center">
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon5" title="清除缓存" link
          @click="Clear"></uni-list-item>
        <uni-list-item :show-extra-icon="true" :extra-icon="extraIcon5" title="当前版本" link to=""></uni-list-item>
      </uni-list>
    </view>
    <view class="setmp">
      <button class="is-hover" @click="OnLogin">退出</button>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        refreshKey: 0,
      }
    },
    methods: {
      OnLogin() {
        let userInfo = uni.getStorageSync('userInfo')
        this.$http.api.removeToken({
          openId: userInfo.openId
        }).then(res => {
          if (res.code == 200) {
            // uni.clearStorageSync()
            // uni.switchTab({
            //   url: '/pages/info/index',
            //   success: (res) => {
            //     let page = getCurrentPages().pop();
            //     if (page == undefined || page == null) return;
            //     page.onLoad();

            //   }
            // })
            this.Clear()
          } else {
            uni.showToast({
              icon: 'none',
              duration: 3000,
              title: `${res.msg}`

            })
          }
        })
      },
      Clear() {
        uni.clearStorageSync()
        uni.switchTab({
          url: '/pages/info/index',
          success: (res) => {
            let page = getCurrentPages().pop();
            if (page == undefined || page == null) return;
            page.onLoad();

          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .set-center {

    //text-align: center;
    .setmp {
      padding: 15rpx 0rpx;

      .is-hover {
        background: #FFF;
        margin: 0rpx 40rpx;
        border-radius: 45rpx;
      }
    }
  }
</style>