<template>
  <view class="evaluate-tabs">
    <view class="evaluate-tabs-box" v-for="(item,index) in list" :key="index">
      <view class="evaluate-tabs-flex">
        <view class="evaluate-tabs-avatar">
          <image :src="avatar"></image>
        </view>
        <view class="evaluate-tabs-right">
          <view class="mb">
            <view class="tabs-right">
              <view>{{item.nickName}}</view>
              <view><uni-rate :size="18" :value="item.star" /></view>
            </view>
          </view>
          <view class="time mb">{{item.createTime}}</view>
          <view class="address mb" v-if="item.masterName"> <span class="mb">服务人员：{{item.masterName}}</span></view>
          <view class="evaluate-tab mb">
            <view class="tab" v-for="(items,index) in checkList " :key="index">
              {{items.dictLabel}}
            </view>
            <!--  {{item.type}} -->
            <!--     <uni-data-checkbox mode="tag" :map="{text:'dictLabel',value:'dictCode',disable:true}" multiple
              v-model="form.type" :localdata="checkList" selectedColor="#f5f3f3"
              selectedTextColor='#ccc'></uni-data-checkbox> -->
          </view>
          <view class="mb">{{item.content}}</view>
          <view class="img mb" v-for="(items,index) in item.picUrls" :key="index">
            <image :src="$preview()+items"></image>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>
<script>
  export default {
    props: {
      querydata: {
        type: Object,
        default: null,
      },
    },
    watch: {
      querydata: {
        handler(val) {
          if (val && val.id) {
            this.commentList(val.id)
          }
        },
        immediate: true,
        deep: true,
      },
    },
    data() {
      return {
        list: [],
        avatar: 'https://mmbiz.qpic.cn/mmbiz/icTdbqWNOwNRna42FI242Lcia07jQodd2FJGIYQfG0LAJGFxM4FbnQP6yfMxBgJ0F3YRqJCJ1aPAK2dQagdusBZg/0',
        checkList: [],
        form: {
          type: []
        },
        picUrls: []
      }
    },
    onLoad() {},
    mounted() {
      this.dictList()
    },
    methods: {
      dictList() {
        let dictType = 'wx_comment_type'
        this.$http.api.dictList(dictType).then(res => {
          if (res) {
            this.form.type.filter(value => {
              var checkList = res.data
              checkList.some(option => {
                if (option.dictCode === value) {
                  this.checkList.push({
                    dictCode: option.dictCode,
                    dictLabel: option.dictLabel,
                  })
                }
              })
            });

          }
        })
      },
      commentList(id) {
        this.$http.api.commentList({
          serviceId: id,
          pageNum: 1,
          pageSize: 100,
        }).then(res => {
          if (res && res.rows) {
            this.list = res.rows
            this.list.find(item => {
              if (item.type) {
                var type = []
                type = item.type ? item.type.split(',') : [],
                  this.form.type = type
              }

              if (item.picUrls) {
                item.picUrls = item.picUrls ? item.picUrls.split(',') : []
              }

            })
          }
        })
      },
    }
  }
</script>
<style lang="scss">
  .evaluate-tabs {
    background: #fff;

    .evaluate-tabs-box {
      border-radius: 20rpx;
      border: 1rpx solid #f1f1f1;
      margin-top: 20rpx;

      .evaluate-tabs-flex {
        display: flex;
        padding: 20rpx;

        .evaluate-tabs-avatar {
          width: 100rpx;
          height: 100rpx;
          margin-right: 30rpx;

          image {
            width: 100%;
            height: 100%;
          }
        }

        .evaluate-tabs-right {
          flex: 1;
          // margin-top: 35rpx;

          .tabs-right {
            display: flex;
            align-items: center;
            justify-content: space-between;

            view {
              flex: 1;
            }
          }
        }
      }
    }

    .time {
      color: #ccc;
      font-size: 24rpx;
    }

    .address {
      color: #ccc;
      font-size: 24rpx;

      span {
        margin-right: 30rpx;
      }
    }

    .evaluate-tab {
      padding: 0rpx !important;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10rpx;

      .tab {
        width: 25%;
        border-radius: 33rpx;
        background: #f5f3f3;
        color: #ccc;
        text-align: center;
        margin-right: 3%;
        margin-bottom: 20rpx;
        padding: 8rpx 0rpx;
        font-size: 22rpx;
      }
    }

    .img {
      width: 100rpx;
      height: 100rpx;
      display: inline-block;
      margin-right: 10rpx;

      image {
        width: 100%;
        height: 100%;

      }
    }

    .mb {
      margin-bottom: 10rpx;
    }

    .uni-data-checklist .checklist-group .checklist-box.is--tag {
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px #DCDFE6 solid;
      border-radius: 10rpx !important;
    }

  }
</style>