<template>
  <view class="evaluate">
    <view class="order-dec" v-for="(item,index) in list" :key="index">
      <view class="order-dec-left">
        <view class="order-dec-img">
          <image :src="$preview()+item.serviceIconUrl"></image>
        </view>
        <view class="order-dec-title">
          <view>{{item.serviceName}}</view>
          <view class="order-dec-color">￥{{item.servicePrice}}/台</view>
        </view>
      </view>
    </view>
    <view class="evaluate-box">
      <view class="center views">
        <span>服务评分:</span><uni-rate :touchable="false" :value="form.star" @change="onChange" />
      </view>
      <view class="views">
        <span class="test">整体印象:</span>
        <uni-data-checkbox mode="tag" :map="{text:'dictLabel',value:'dictCode'}" multiple v-model="form.type"
          :localdata="hobby"></uni-data-checkbox>
      </view>
      <view>
        <textarea placeholder="点击这里输入评价" v-model="form.content" />
      </view>
      <view>
        <uni-file-picker title="上传图片" @select="select" @delete="deletephoto"></uni-file-picker>
      </view>
      <view class="bnt">
        <button @click="comment" :class="isDisabled==true?'button-default':'button-primary'" :disabled="isDisabled">发布
        </button>
      </view>
    </view>
  </view>
</template>
<script>
  export default {
    watch: {
      form: {
        handler(val) {
          // 表单数据发生变化时的处理逻辑
          if (val.star && val.type.length > 0 && val.content) {
            this.isDisabled = false
          } else {
            this.isDisabled = true
          }
          console.log('Form data changed:', val);
        },
        deep: true // 开启深度监听
      }
    },
    data() {
      return {
        list: [],
        hobby: [],
        form: {
          star: 0,
          type: [],
          content: '',
          picUrls: [],
          masterId: '',
          masterName: '',
          serviceId: '',
          serviceName: '',
          userId: '',
          orderId: ''
        },
        isDisabled: true
      }
    },
    onLoad(option) {
      if (option.id) {
        this.ordersDetails(option.id)
        this.orderMaster(option.id)
        let userInfo = uni.getStorageSync('userInfo')
        this.form.userId = userInfo.userId
        this.form.orderId = option.id
      }

    },
    mounted() {
      this.dictList()
    },
    methods: {
      dictList() {
        let dictType = 'wx_comment_type'
        this.$http.api.dictList(dictType).then(res => {
          if (res) {
            this.hobby = res.data
          }
        })
      },
      //订单详情
      ordersDetails(id) {
        this.$http.api.ordersDetails(id).then(res => {
          if (res) {
            this.order = res.data
            this.list = res.data.wxOrderServicesList
            if (res.data.wxOrderServicesList) {
              this.form.serviceId = res.data.wxOrderServicesList[0].serviceId
              this.form.serviceName = res.data.wxOrderServicesList[0].serviceName
            }
          }
        })
      },
      //根据订单id查询师傅id
      orderMaster(id) {
        this.$http.api.orderMaster(id).then(res => {
          if (res) {
            this.form.masterId = res.data.masterId
            this.form.masterName = res.data.masterName
          }
        })
      },
      onChange(e) {
        this.form.star = e.value
      },
      //上传
      select(e) { //select是选择好图片之后的方法
        let baseUrl = 'https://api.zzzhuoya.com:443'
        let url = '/common/upload'
        let token = uni.getStorageSync("userInfo")
        uni.uploadFile({
          url: baseUrl + url, //上传图片的接口
          filePath: e.tempFilePaths[0], //一定要用这个参数！它会用formata的形式传递参数
          name: 'file',
          header: {
            'Authorization': token.token ? `Bearer ${token.token}` : '',
          },
          success: (uploadFileRes) => { //成功的回调，把返回的图片地址拼接进变量
            this.form.picUrls.push(JSON.parse(uploadFileRes.data).fileName)
          },
          fail: (res) => { //失败的回调
            console.log(res)
          }
        });
      },

      deletephoto(e) { //deletephoto是把已经上传的图片叉掉之后的方法。需要把变量中的图片地址去掉
        let index = this.form.picUrls.indexOf(e.tempFilePath);
        this.form.picUrls.splice(index, 1);
      },
      comment() {
        // uni.navigateTo({
        //   url: '/pages/order/evaluateList'
        // })
        if (this.form.type.length > 0) {
          this.form.type = this.form.type.join(',')
        }
        if (this.form.picUrls.length > 0) {
          this.form.picUrls = this.form.picUrls.join(',')
        } else {
          this.form.picUrls = ''
        }
        this.$http.api.comment(this.form).then(res => {
          if (res.code == 200) {
            uni.switchTab({
              url: '/pages/order/index',
              success: function(e) {
                var page = getCurrentPages()[0];
                if (page == undefined || page == null) return;
                page.onLoad();
              }

            })
            uni.$emit('refreshData1');
          }
        })
        console.log(1111)
      }
    }
  }
</script>
<style lang="scss">
  .evaluate {
    background: #fff;

    .order-dec {
      display: flex;
      //margin: 20px 0rpx;
      flex-direction: row;
      justify-content: space-between;
      padding: 10rpx 30rpx;
      border-bottom: 1px solid #f1f1f1;

      .order-dec-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .order-dec-img {
          width: 150rpx;
          height: 150rpx;

          image {
            width: 100%;
            height: 100%;
          }
        }

        .order-dec-title {
          padding: 10rpx;

          view {
            padding: 5rpx 0rpx;
          }

          .order-dec-color {
            color: red
          }
        }
      }

      .order-dec-right {
        margin-top: 20rpx;
      }
    }

    .evaluate-box {
      padding: 0rpx 20rpx 25rpx;
      overflow: hidden;

      .views {
        display: flex;
        //align-items: center;
        padding: 20rpx 0rpx;

        span {
          vertical-align: middle;
          margin-right: 15rpx;
        }
      }

      textarea {
        width: 100% !important;
        margin: 10rpx 0rpx;
      }

      .test {
        width: 130rpx;
      }

      .center {
        align-items: center;
      }
    }

    .uni-data-checklist .checklist-group .checklist-box.is--tag {
      margin-right: 10px;
      padding: 3px;
      border: 1px #DCDFE6 solid;
      border-radius: 3px;
      background-color: #fff !important;
      margin-top: 2px;
      font-size: 14rpx;
    }

    .uni-data-checklist .checklist-group .checklist-box.is--tag.is-checked .checklist-text {
      color: #333;
    }

    .uni-data-checklist .checklist-group .checklist-box .checklist-content .checklist-text {
      font-size: 10px;
      color: #666;
      margin-left: 5px;
      line-height: 14px;
    }

    .bnt {
      width: 200rpx;
      float: right;

      .button-primary {
        background: #5FC484;
        color: #fff;
        border-radius: 55rpx;
        line-height: 2.2;
      }

      .button-default {
        background: #c1f3c0;
        color: #fff;
        border-radius: 55rpx;
        line-height: 2.2;
      }
    }
  }
</style>