<template>
  <view class="order-info">
    <view class="tab-list-data" v-for="(item,index) in list" :key="index">
      <!--      <view class="tab-list-box" v-for="(items,indexs) in item.wxOrderServicesList" :key="indexs"> -->
      <view class="tab-list-box">
        <view class="tab-list-contant">
          <view class='tab-title'>
            <view class="tab-title-left">
              {{item.orderStatus==0?'待支付':item.orderStatus==1?'已支付':item.orderStatus==3?'已完成':'已取消'}}
            </view>
            <!-- <view class="tab-title-right"><span>详情</span><uni-icons type="right" size="14" color="#ccc"></uni-icons>
            </view> -->
          </view>
          <view class="tab-dec" @click="details(item)">
            <view v-if="item.id">
              <view class="tab-dec-info" v-for="(items,index) in item.wxOrderServicesList" :key='index'>
                <view class="tab-dec-img">
                  <image :src="$preview()+items.serviceIconUrl"></image>
                </view>
                <view class="dec-info">
                  <view class="title">
                    {{items.serviceName}}
                  </view>
                  <view class="price">￥{{items.servicePrice}}</view>
                </view>
                <view>数量：{{items.serviceNumber}}</view>
              </view>
            </view>
            <!--   <view class="tab-margin"><span>订单编号：</span>{{item.id}}</view>
            <view class="tab-margin" v-if="item.wxOrderServicesList">
              <span>服务内容：</span>
              <span v-if="item.id">
                <span v-for="(items,index) in item.wxOrderServicesList" :key='index'
                  style="padding-right: 10rpx;">{{items.serviceName}}</span>
              </span>
            </view> -->
            <view class="tab-margin"><span>订单金额：</span><span class="price">￥{{item.orderPrice}}</span></view>
            <view class="tab-margin"><span>下单时间：</span>{{item.createTime}}</view>
          </view>
        </view>
      </view>
      <view class="tab-list-bottom" :class="item.orderStatus==1?'mb':'tab-list-bottom'">
        <view>
          <button v-if="item.orderStatus==0||item.orderStatus==2" @click="pay(item)">去支付</button>
          <button v-if="item.orderStatus==3" class="evaluate" @click="Evaluate(item)">去评价</button>
        </view>

      </view>
    </view>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        list: [],
      }
    },

    onLoad() {
      this.orderUserId()
      uni.$on('refreshData1', () => {
        this.orderUserId()
      })
    },

    mounted() {
      this.orderUserId()
      uni.$on('refreshData1', () => {
        this.orderUserId()
      })
    },
    methods: {
      orderUserId() {
        var userId = uni.getStorageSync('userInfo').userId
        this.$http.api.orderUserId(userId).then(res => {
          if (res) {
            this.list = res.data
          }
        })
      },
      pay(item) {
        this.$http.api.orderIdPay(
          item.id
        ).then(res => {
          if (res) {
            let that = this
            uni.requestPayment({
              appId: res.data.appId, //小程序的appid
              timeStamp: res.data.wxResult.timeStamp, //时间戳，要字符串类型的
              nonceStr: res.data.wxResult.nonceStr, //随机字符串，长度为32个字符以下。
              package: res.data.wxResult.packageValue, //prepay_id 参数值，提交格式如：prepay_id=xx
              signType: res.data.wxResult.signType, //MD5类型A
              paySign: res.data.wxResult.paySign, //签名
              success: function(res) {
                //支付成功的回调    成功之后你想做什么在这里操作  比如弹窗一个提示:支付成功等
                that.orderSave(1, item)
              },
              fail: function(err) {
                //支付失败的回调   失败之后你想做什么在这里操作  比如弹窗一个提示:支付失败等
                that.orderSave(2, item)
              }
            });
          }
        })
      },
      orderSave(index, item) {
        //index==1 已支付 index==2 已取消
        let QueryParams = Object.assign({}, {
          address: item.address,
          actualPrice: item.actualPrice,
          message: item.message,
          mobile: item.mobile,
          consignee: item.consignee,
          orderPrice: item.totalPrice,
          orderStatus: index,
          servicePrice: item.servicePrice,
          id: item.id,
          doorStartTime: item.doorStartTime,
          doorEndTime: item.doorEndTime

        })
        this.$http.api.orderPay(QueryParams).then(res => {
          if (res) {
            this.orderUserId()
          }
        })
      },
      details(item) {
        uni.navigateTo({
          url: `/pages/order/Orderdetails?id=${item.id}`
        })
      },
      Evaluate(item) {
        uni.navigateTo({
          url: `/pages/order/components/evaluate?id=${item.id}`
        })
      }
    }
  }
</script>
<style lang="scss">
  .order-info {
    //margin-bottom: 80rpx;
    margin: 0rpx 15rpx;
    padding-bottom: 130rpx;

    .mb {
      padding: 0rpx !important;
    }

    .tab-list-data {
      background: #fff;
      margin-top: 30rpx;
      border-radius: 10rpx;

      .tab-list-box {
        border-bottom: 1rpx solid #f1f1f1;

        .tab-list-contant {
          padding: 25rpx;

          .tab-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tab-title-left {
              font-size: 30rpx;
              font-weight: bold;
            }

            .tab-title-right {
              color: #ccc;
              vertical-align: middle;

              span {
                margin-top: -12rpx;
              }
            }
          }

          .tab-dec {
            margin-top: 20rpx;

            .tab-margin {
              padding: 15rpx 0px;

              span {
                color: #ccc
              }

              em {
                font-style: none;
                color: #8cde9b;
                display: inline;
                margin-left: 5rpx;
              }

              i {
                font-style: none;
                color: #ccc;
                display: inline;
                margin: 0rpx 10rpx;
              }
            }

            .tab-dec-info {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .tab-dec-img {
                width: 150rpx;
                height: 150rpx;
                margin-right: 30rpx;

                image {
                  width: 100%;
                  height: 100%;
                }
              }

              .dec-info {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                view {
                  margin-bottom: 10rpx;
                }

                .title {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

              }
            }
          }
        }

      }

      .price {
        color: red !important
      }

      .tab-list-bottom {
        padding: 25rpx;
        display: flex;
        justify-content: flex-end;

        button {
          background: #8cde9b;
          width: 220rpx;
          height: 60rpx;
          line-height: 60rpx;
          border-radius: 50rpx;
          color: #fff;
          border: none;
        }

        .evaluate {
          width: 170rpx;
          background: none;
          color: #333;
          border: 1rpx solid #ccc;
          border-radius: 10rpx;
        }
      }
    }
  }
</style>