<script>
  export default {

    onLaunch: function() {
      // uni.hideTabBar({
      //   animation: false
      // })
      uni.hideTabBar()
      let userInfo = uni.getStorageSync('userInfo');
      if (userInfo.token && userInfo.masterId > 0) {
        uni.switchTab({
          url: '/pages/master/index'
        })
      } else {
        uni.switchTab({
          url: '/pages/index/index'
        })
      }
    },
    onShow: function() {
      // let userInfo = uni.getStorageSync('userInfo');
      // if (userInfo.token && userInfo.masterId > 0) {
      //   uni.switchTab({
      //     url: '/pages/master/index'
      //   })
      // } else {
      //   uni.switchTab({
      //     url: '/pages/index/index'
      //   })
      // }

    },
    onHide: function() {
      console.log('App Hide')
    }
  }
</script>
<style>
  @import "~@/static/iconfont/iconfont.css";
</style>
<style lang="scss">
  @import '@/uni_modules/uni-scss/index.scss';
  /* #ifndef APP-PLUS-NVUE */


  button:after {
    content: " ";
    border: none !important;
  }

  /* H5 兼容 pc 所需 */
  /* #ifdef H5 */
  @media screen and (min-width: 768px) {
    body {
      overflow-y: scroll;
    }
  }

  .uni-mt-5 {
    margin-top: 50px;
  }

  /* 顶栏通栏样式 */
  /* .uni-top-window {
	    left: 0;
	    right: 0;
	} */

  uni-page-body {
    background-color: #F5F5F5 !important;
    min-height: 100% !important;
    height: auto !important;
  }

  .uni-top-window uni-tabbar .uni-tabbar {
    background-color: #fff !important;
  }

  .uni-app--showleftwindow .hideOnPc {
    display: none !important;
  }

  /* #endif */

  /* 以下样式用于 hello uni-app 演示所需 */
  page {
    background-color: #F5F5F5;
    height: 100%;
    font-size: 28rpx;
    /* line-height: 1.8; */
  }

  .fix-pc-padding {
    padding: 0 50px;
  }

  .uni-header-logo {
    padding: 30rpx;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rpx;
  }

  .uni-header-image {
    width: 100px;
    height: 100px;
  }

  .uni-hello-text {
    color: #7A7E83;
  }

  .uni-hello-addfile {
    text-align: center;
    line-height: 300rpx;
    background: #FFF;
    padding: 50rpx;
    margin-top: 10px;
    font-size: 38rpx;
    color: #808080;
  }

  /* #endif*/
</style>