<template>
  <view class="evaluate-list">
    <!--   <view class="evaluate-tab">
      <view class="tab" v-for="(item,index) in list " :key="index">
        {{item.text}}
      </view>
    </view> -->
    <view class="tab-tabs">
      <scroll-view :scroll-x="true">
        <view class="content">
          <view class="box">
            <view v-for="(item, index)  in titleList" class="title" :class="{'title1':isChange==index}" :key="index"
              @click="titleTap(index)">
              {{item}}
            </view>
          </view>
        </view>
      </scroll-view>
      <evaluateTabs v-if="isChange==0 " :querydata="querydata"></evaluateTabs>
    </view>
  </view>
</template>

<script>
  import evaluateTabs from './components/evaluateTabs.vue'
  export default {
    components: {
      evaluateTabs,
    },
    data() {
      return {
        titleList: ['全部'],
        isChange: '0',
        querydata: {
          id: ''
        }
      }
    },
    onShow() {},
    onLoad(option) {
      if (option) {
        this.querydata.id = option.id
      }
    },
    methods: {
      titleTap(index) {
        if (index != this.isChange) {
          this.isChange = index;
        }
      },
    }
  }
</script>


<style lang="scss">
  .evaluate-list {
    background: #fff;

    // .evaluate-tab {
    //   padding: 20rpx;
    //   display: flex;
    //   flex-wrap: wrap;

    //   .tab {
    //     width: 30%;
    //     border-radius: 33rpx;
    //     background: #F0FCF7;
    //     color: #333;
    //     text-align: center;
    //     margin-right: 3%;
    //     margin-bottom: 20rpx;
    //     padding: 10rpx 0rpx;
    //   }
    // }

    .tab-tabs {
      padding: 20rpx;
    }

    scroll-view {
      white-space: nowrap;
      /* position: fixed; */
    }

    .content {
      //width: 115%;
      width: 100%;
      background-color: #fff;
    }

    .content .box {
      height: 80rpx;
      line-height: 70rpx;
      display: flex;
      justify-content: space-around;
    }

    .content .title {
      font-family: 'PingFang-SC-Medium';
      font-size: 26rpx;
      color: #000;
    }

    .content .title1 {
      height: 73rpx;
      font-family: 'PingFang-SC-Bold';
      font-size: 30rpx;
      color: #8cde9b;
      border-bottom: 5rpx solid #8cde9b;
    }
  }
</style>