<template>
  <view>
    <scroll-view :scroll-x="true">
      <view class="content">
        <view class="box">
          <view v-for="(item, index)  in titleList" class="title" :class="{'title1':isChange==index}" :key="index"
            @click="titleTap(index)">
            {{item}}
          </view>
        </view>
      </view>
    </scroll-view>
    <tabList v-if="isChange==0"></tabList>
    <tabbar :current='2'></tabbar>
  </view>
</template>

<script>
  import tabbar from "@/components/tabbar/index.vue";
  import tabList from './components/tabList.vue'
  export default {
    components: {
      tabList,
      tabbar
    },
    data() {
      return {
        titleList: ['全部订单', '退款记录', '投诉记录'],
        isChange: '0'
      }
    },
    onShow() {},
    onLoad() {

    },
    methods: {
      titleTap(index) {
        console.log(index, 'index')
        if (index != this.isChange) {
          this.isChange = index;

        }
      },

    }
  }
</script>

<style>
  scroll-view {
    white-space: nowrap;
    /* position: fixed; */
  }

  .content {
    //width: 115%;
    width: 100%;
    background-color: #fff;
  }

  .content .box {
    height: 80rpx;
    line-height: 70rpx;
    display: flex;
    justify-content: space-around;
  }

  .content .title {
    font-family: 'PingFang-SC-Medium';
    font-size: 26rpx;
    color: #000;
  }

  .content .title1 {
    height: 73rpx;
    font-family: 'PingFang-SC-Bold';
    font-size: 30rpx;
    color: #8cde9b;
    border-bottom: 5rpx solid #8cde9b;
  }
</style>