<template>
  <view class="Orderdetails">
    <view class="tab-list-contant">
      <view class="title">交易{{order.orderStatus==0?'未支付':order.orderStatus==1?'已支付':order.orderStatus==3?'已完成':'已取消'}}
      </view>
      <view class="order-box" v-for="(item,index) in list" :key="index">
        <view class="order-dec">
          <view class="order-dec-left">
            <view class="order-dec-img">
              <image :src="$preview()+item.serviceIconUrl"></image>
            </view>
            <view class="order-dec-title">
              <view>{{item.serviceName}}</view>
              <view class="order-dec-color">￥{{item.servicePrice}}</view>
            </view>
          </view>
          <view style="margin-top: 10rpx;">数量：{{item.serviceNumber}}</view>
        </view>

      </view>
      <view class="price">
        <view>订单金额</view>
        <view><span class="yellow">￥{{order.orderPrice}}</span></view>
      </view>
      <view class="price">
        <view></view>
        <view>实际应付 <span class="yellow">￥{{order.orderPrice}}</span></view>
      </view>
    </view>
    <view class="tab-list-contant">
      <view class='tab-title'>
        <view class="tab-title-left">基础信息</view>
      </view>
      <view class="tab-dec">
        <view class="tab-margin"><span>订单编号</span><span class="order-text">{{order.id}} <i>|</i> <em
              @click="copyOrderNumber">复制</em></span>
        </view>
        <view class="tab-margin"><span>下单时间</span><span class="order-text">{{order.createTime}}</span></view>
        <view class="tab-margin">
          <span>期望上门时间</span>
          <span class="order-text" v-if="order.doorStartTime">
            <b>{{order.doorStartTime}}</b>
            <b v-if="order.doorEndTime">-{{order.doorEndTime.slice(-8)}}</b>
          </span>
        </view>
        <view class="tab-margin" v-if="order.wxOrderMaster">
          <span>师傅名称</span>
          <span class="order-text">{{order.wxOrderMaster.masterName?order.wxOrderMaster.masterName:'无'}}</span>
        </view>
        <view class="tab-margin"><span>服务地址</span><!-- <span class="order-text"
            v-if="order.mobile">{{order.address}}-{{order.consignee}}-{{order.mobile}}</span> -->
          <span class="order-text">
            <div>{{order.address}}</div>
            <div>{{order.consignee}}</div>
            <div @click="dialPhone(order.mobile)">{{order.mobile}}</div>
          </span>
        </view>

      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        list: [],
        order: {}
      }
    },

    onLoad(option) {
      this.ordersDetails(option.id)
    },
    mounted() {},
    methods: {
      ordersDetails(id) {
        this.$http.api.ordersDetails(id).then(res => {
          if (res) {
            this.order = res.data
            this.list = res.data.wxOrderServicesList
          }
        })
      },
      copyOrderNumber() {
        uni.setClipboardData({
          data: this.order.id,
          success: () => {
            uni.showToast({
              title: '复制成功',
              icon: 'none',
              duration: 2000
            });
          },
          fail: () => {
            uni.showToast({
              title: '复制失败',
              icon: 'none',
              duration: 2000
            });
          }
        });
      },
      dialPhone(phonenumber) {
        uni.makePhoneCall({
          phoneNumber: phonenumber,
          success() {
            console.log('拨打成功了');
          },
          fail() {
            console.log('拨打失败了');
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .Orderdetails {
    margin: 10rpx;

    .tab-list-contant {
      padding: 25rpx;
      background: #fff;
      border-radius: 10rpx;
      margin-bottom: 10rpx;

      .tab-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tab-title-left {
          font-size: 30rpx;
          font-weight: bold;
        }

        .tab-title-right {
          color: #ccc;
          vertical-align: middle;

          span {
            margin-top: -12rpx;
          }
        }
      }

      .tab-dec {
        margin-top: 20rpx;
        margin-bottom: 80rpx;

        .tab-margin {
          padding: 15rpx 0px;

          span {
            color: #ccc
          }

          em {
            font-style: none;
            color: #8cde9b;
            display: inline;
            margin-left: 5rpx;
          }

          i {
            font-style: none;
            color: #ccc;
            display: inline;
            margin: 0rpx 10rpx;
          }
        }
      }
    }

    .order-text {
      float: right;
      color: #4e4e4e !important;

      div {
        text-align: right;
        padding: 5rpx 0rpx;
      }

      b {
        display: inline-block;
      }
    }

    .order-dec {
      display: flex;
      background: #fff;
      margin: 20px 0rpx;
      flex-direction: row;
      justify-content: space-between;
      padding: 10rpx 30rpx;
      border-bottom: 1px solid #f1f1f1;

      .order-dec-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .order-dec-img {
          width: 150rpx;
          height: 150rpx;

          image {
            width: 100%;
            height: 100%;
          }
        }

        .order-dec-title {
          padding: 10rpx;

          view {
            padding: 5rpx 0rpx;
          }

          .order-dec-color {
            color: red
          }
        }
      }

      .order-dec-right {
        margin-top: 20rpx;
      }
    }

    .order-box {
      background: #fff;

      .title {
        font-size: 32rpx;
        font-weight: bold;
      }

      .rder-dec-show {
        // margin: 0rpx 30rpx;
        text-align: center;
        cursor: pointer;
        padding: 30rpx 0rpx;
        color: #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
      }

      .message {
        padding: 20rpx;
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10rpx 0rpx;

    }

    .yellow {
      color: #FF9A43
    }
  }
</style>