<template>
  <view class="agreement">
    <view v-html="content"></view>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        content: '',
        code: ''
      }
    },
    onLoad(option) {
      if (option.type == 1) {
        this.code = 'wx_user_protocol'
      } else if (option.type == 2) {
        this.code = 'wx_privacy_policy'
      }
    },
    mounted() {
      this.agrecode()
    },
    methods: {
      agrecode(params) {
        this.$http.api.protocolByCode({
          code: this.code,
        }).then(res => {
          if (res.code == 200) {
            this.content = res.data.content
          }
        })
      },
    }
  }
</script>

<style lang="scss">
  .agreement {
    padding: 20rpx;

    .ql-align-center {
      text-align: center;
    }


  }
</style>