<template>
  <view class="tabbar">
    <view class="tab" v-for="(item,index) in menus" :key="index" @click="navigatorTo(item.pagePath)">
      <!-- 判断是否有点击，如果没有就不是激活样式，点击就是激活的样式 -->
      <image class="imgsize" :src="current == index ? item.selectedIconPath : item.iconPath" mode="widthFix"></image>
      <view :class="current == index ?'active':'text'">{{item.text}}</view>
    </view>

  </view>
</template>

<script>
  //import tabs from '../../common/tabbar.js';
  import {
    mapGetters
  } from 'vuex'
  export default {
    name: "tabbar",
    props: {
      current: {
        type: Number,
        default: 0, //默认第一个页面tabbar激活
      },
    },

    data() {
      return {
        tabbarLists: [],
      };
    },

    mounted() {},
    computed: {
      ...mapGetters(['tabBarList']),
      menus() {
        return this.tabBarList
      },
    },
    created() {
      // this.tabbarList = this.mainMenu
      // let userInfo = uni.getStorageSync('userInfo')

      // if (userInfo && userInfo.masterId != 0) {
      //   this.tabbarList = tabs[1]
      // } else {
      //   this.tabbarList = tabs[0]
      // }
    },
    methods: {
      navigatorTo(e) {
        uni.switchTab({
          url: e,
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tabbar {
    position: fixed;
    bottom: 0;
    //padding-bottom: constant(safe-area-inset-bottom);
    /* 兼容 iOS<11.2 */
    //padding-bottom: env(safe-area-inset-bottom);
    /* 兼容iOS>= 11.2 */
    background-color: rgb(248, 248, 248);
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    // box-shadow: 0rpx 0rpx 12rpx 2rpx rgba(0, 0, 0, 0.1);
    // border-radius: 30rpx 30rpx 0rpx 0rpx;
    border-top: 1px solid #ccc;
    padding-top: 12rpx;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .tab {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .imgsize {
      width: 48rpx;
      height: 48rpx;
    }

    .text {
      margin-top: 4rpx;
      padding-bottom: 20rpx;
      font-size: 24rpx;
      color: #333333;
      line-height: 20rpx;
    }

    .active {
      margin-top: 4rpx;
      padding-bottom: 20rpx;
      font-size: 24rpx;
      color: #5FC484;
      line-height: 20rpx;
    }
  }
</style>